/* MARK: Featured */
#featured-logos {
	padding: 6maj 0 0;
}
@media (--tablet) {
#featured-logos {
		padding-top: 3maj;
}
	}
#featured-logos .container {
		max-width: 150maj;
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		grid-gap: 10maj;
		width: 100%;
		margin: 0 auto;
	}
@media (--tablet) {
#featured-logos .container {
			grid-gap: 4maj;
			grid-template-columns: 1fr;
	}
		}
@media (max-width: 150maj) {
#featured-logos .container {
			max-width: 100%;
			padding: 3maj 3maj;
	}
		}
#featured-logos .seen-on-tv {
		margin-top: auto;
		margin-left: auto;
		background: rgba(0, 0, 0, 0.24);
		border: 1px solid var(--gray5);
		padding: 4maj 5maj;
		border-radius: 2maj;
		width: 100%;
		max-width: 50maj;
	}
@media (--tablet) {
#featured-logos .seen-on-tv {
			margin-left: 0;
			margin-left: initial;
			margin-top: 0;
			margin-top: initial;
			max-width: 100%;
	}
		}
#featured-logos .seen-on-tv svg {
			line-height: 0;
			color: var(--text);
			max-width: 30maj;
		}
#featured-logos .work-featured-on .logos {
			--size: 8maj;
			flex-basis: 50%;
			display: grid;
			grid-template-columns: repeat(
				auto-fit,
				minmax(calc(var(--size) * 2.5), 1fr)
			);
			grid-gap: 3maj;
		}
@media (max-width: 480px) {
#featured-logos .work-featured-on .logos {
				--size: 4maj;
				grid-gap: 1maj;
		}
			}
#featured-logos .work-featured-on .logos .logo {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				background: rgba(0, 0, 0, 0.24);
				border: 1px solid var(--gray5);
				padding: 4maj 2maj;
				border-radius: 2maj;
			}
#featured-logos .work-featured-on .logos .logo svg {
					width: var(--size);
					height: var(--size);
					color: var(--gray4);
					fill: currentColor;
				}
#featured-logos .work-featured-on .logos .logo .brand {
					white-space: nowrap;
					text-align: center;
					padding-top: 2maj;
					color: var(--gray1);
					text-transform: capitalize;
				}
@media (max-width: 480px) {
#featured-logos .work-featured-on .logos .logo .brand {
						font-size: 0.75rem;
				}
					}
/* MARK: Guarantee */
#guarantee {
	padding: 6maj 3maj;
	margin: 15maj auto 6maj;
}
@media (max-width: 1000px) {
#guarantee {
		margin-top: 0;
		margin-bottom: 0;
}
	}
#guarantee .container {
		max-width: 150maj;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
@media (max-width: 1000px) {
#guarantee .container {
			flex-wrap: wrap;
	}
		}
#guarantee .title {
		margin-bottom: 6maj;
		max-width: 75maj;
		width: 100%;
	}
@media (max-width: 600px) {
#guarantee .title {
			font-size: 1.75rem;
			margin-bottom: 3maj;
	}
		}
#guarantee .premium-text {
		max-width: 75maj;
		color: var(--gray1);
		font-size: 1.25rem;
		font-weight: normal;
		line-height: 1.25;
	}
@media (max-width: 600px) {
#guarantee .premium-text {
			font-size: 1rem;
	}
		}
#guarantee .guarantee-title {
		margin: 0;
	}
#guarantee .guarantee-container {
		width: 100%;
		max-width: 60%;
		margin-left: auto;
		background: rgba(0, 0, 0, 0.24);
		border: 1px solid var(--gray5);
		padding: 4maj 5maj;
		border-radius: 2maj;
	}
@media (max-width: 1000px) {
#guarantee .guarantee-container {
			margin-top: 5maj;
			max-width: 100%;
			padding: 3maj 3maj;
	}
		}
#guarantee .guarantee-text {
		margin: 0;
		margin-top: 2maj;
	}
#guarantee .logos {
		display: grid;
		padding-top: 4maj;
		max-width: 60%;
		margin-left: auto;
		grid-template-columns: repeat(auto-fit, minmax(10maj, 1fr));
		grid-gap: 2maj;
		gap: 2maj;
	}
@media (max-width: 1000px) {
#guarantee .logos {
			max-width: 100%;
			gap: 3maj;
	}
		}
#guarantee .logos .credibility-logo img {
				width: 100%;
			}
/* MARK: Stats */
#stats {
	padding: 20maj 3maj;
	margin: 15maj auto 6maj;
	z-index: -2;
	background: black;
	position: relative;
}
@media (max-width: 1000px) {
#stats {
		margin: 8maj auto;
		padding: 12maj 3maj;
}
	}
#stats .container {
		max-width: 150maj;
		margin: 0 auto;
	}
#stats .disclaimer {
		position: absolute;
		bottom: 3maj;
		right: 3maj;
		margin-left: 3maj;
		font-size: 0.75rem;
		color: var(--gray1);
	}
@media (max-width: 600px) {
#stats .disclaimer {
			font-size: 0.6rem;
	}
		}
#stats .title {
		margin-bottom: 6maj;
	}
@media (max-width: 600px) {
#stats .title {
			font-size: 2rem;
			margin-bottom: 3maj;
	}
		}
#stats .grid {
		list-style-type: none;
		align-items: start;
		justify-content: start;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20maj, 1fr));
		grid-gap: 5maj;
		max-width: 125maj;
	}
#stats .grid .item {
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
		}
#stats .grid .item .number,
			#stats .grid .item .number-support {
				font-size: 3.5rem;
				font-weight: 600;
				font-family: monospace;
			}
@media (max-width: 600px) {
#stats .grid .item .number,
			#stats .grid .item .number-support {
					font-size: 2.5rem;
			}
				}
#stats .grid .item .description {
				margin-top: 2maj;
				font-size: 1.25rem;
				color: var(--accentColor);
				white-space: nowrap;
			}
@media (max-width: 600px) {
#stats .grid .item .description {
					font-size: 1rem;
					margin-top: 1maj;
			}
				}
/* MARK: Video */
.video {
	border: 0.5px solid rgba(255, 255, 255, 0.1);
	transition: 300ms;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	border-radius: 1.5maj;
	box-shadow: var(--med-shadow);
	height: 100%;
	scroll-snap-align: start;
}
@media (max-width: 768px) {
.video {
		scroll-snap-align: center;
}
	}
.video::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		opacity: 0;
		pointer-events: none;
		transition: 225ms;
	}
@media (pointer: "fine") {
			.video:hover:not(.hero-video) .preview {
				opacity: 1;
			}
			.video:hover:not(.hero-video)::before {
				opacity: 1;
			}
	}
.video .preview {
		opacity: 0;
		height: 100%;
		position: absolute;
		z-index: 2;
		transition: 225ms;
		-o-object-fit: cover;
		   object-fit: cover;
		border-radius: 1.5maj;
		-o-object-position: center;
		   object-position: center;
	}
@media (pointer: "fine") {
		.video:hover {
			box-shadow: var(--big-shadow), 0 0 0 3px rgba(255,255,255,0.12549);
		}
	}
.video img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
.video:hover .title {
		transform: translateX(0);
	}
.video:hover .title::before {
			opacity: 1;
			transform: translateX(0);
		}
.video .title {
		position: absolute;
		bottom: 4maj;
		left: 4maj;
		font-weight: 600;
		font-size: 3maj;
		text-shadow: 0 0 2.5maj var(--gray6);
		display: flex;
		align-items: center;
		transform: translateX(-2maj);
		transition: 225ms;
		z-index: 3;
	}
@media (max-width: 768px) {
.video .title {
			bottom: 3maj;
			left: 2.5maj;
	}
		}
.video .title::before {
			content: "";
			transition: 225ms;
			opacity: 0;
			transform: translateX(-1maj);
			fill: white;
			display: inline-block;
			background: url("/assets/controls-play.svg");
			width: 2maj;
			height: 2maj;
			margin-right: 1.5maj;
		}
.video .type {
		position: absolute;
		top: 2maj;
		right: 2maj;
		text-transform: uppercase;
		font-size: 1.5maj;
		font-weight: 500;
		background: var(--teal);
		-webkit-backdrop-filter: var(--blur-filter);
		        backdrop-filter: var(--blur-filter);
		padding: 0.5maj 0.75maj;
		border-radius: 0.5maj;
		z-index: 3;
	}
.video .type.entertainment {
			background: var(--green);
		}
.video .type.promotional {
			background: var(--red);
		}
.video .type.social-media {
			background: var(--indigo);
		}
.video .type.corporate {
			background: var(--yellow);
		}
.video .type.short-documentary {
			background: var(--blue);
		}
.scroll-arrows {
	padding-top: var(--padding);
	display: grid;
	grid-auto-flow: column;
	grid-gap: 1maj;
	width: 100%;
	align-items: center;
	justify-content: center;
	list-style: none;
	z-index: 9;
	position: relative;
}
@media (pointer: "coarse") {
.scroll-arrows {
		display: none;
}
	}
.scroll-arrows .page-number {
		padding: 1maj 1.5maj;
		background: rgba(0,0,0,0.31373);
		border-radius: 0.75maj;
		cursor: pointer;
		transition: var(--fast);
		color: var(--text);
	}
.scroll-arrows .page-number svg {
			width: 1.5maj;
			height: 1.5maj;
			margin: 0;
			fill: #ffffff;
			pointer-events: none;
		}
.scroll-arrows .page-number:hover {
			background: var(--gray5);
		}
.scroll-arrows .page-number.active {
			font-weight: bold;
			box-shadow: 0 0 0 1px rgba(255,255,255,0.25098);
		}
.video-grid-wrapper {
	overflow-x: scroll;
	overscroll-behavior-x: none;
	padding: calc(var(--padding) * 2) 0;
	margin: calc(var(--padding) * -3) 0 calc(var(--padding) * -2);
	display: grid;
	grid-template-columns: 3maj 1fr 3maj;
	scroll-snap-type: x mandatory;
	scroll-padding-left: calc(var(--padding) * 1.5);
}
@media (max-width: 768px) {
.video-grid-wrapper {
		scroll-padding-left: 0;
}
	}
.video-grid-wrapper::before,
	.video-grid-wrapper::after {
		content: "";
	}
.video-grid-wrapper {

	-ms-overflow-style: none;
	scrollbar-width: none;
}
.video-grid-wrapper::-webkit-scrollbar {
		display: none;
	}
.video-grid {
	--col-size: 60maj;
	--aspect-ratio: calc(1920 / 1080);
	--row-size: calc(var(--col-size) / var(--aspect-ratio));

	display: grid;
	align-content: start;
	grid-auto-flow: column;
	grid-template-columns: repeat(var(--cols), var(--col-size));
	grid-template-rows: repeat(3, var(--row-size));
	grid-gap: var(--padding);
}
@media (max-width: 600px) {
.video-grid {
		--col-size: calc(100vw - (var(--padding) * 2));
		grid-gap: calc(var(--padding) / 2);
}
	}
.hero-video {
	max-height: 80vh;
	overflow: hidden;
	margin-bottom: 7maj;
	border-radius: 1.5maj;
	box-shadow: var(--big-shadow);
	transition: 225ms;
	position: relative;
}
@media (max-width: 1000px) {
.hero-video {
		box-shadow: var(--med-shadow);
}
	}
@media (max-width: 600px) {
.hero-video {
		margin-bottom: 4maj;
}
	}
.hero-video .preview-container {
		height: 0;
		padding-bottom: calc(700 / 1920 * 100%);
	}
.hero-video .preview {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
		-o-object-position: center;
		   object-position: center;
		position: absolute;
		border-radius: 1.5maj;
		border: 0.5px solid rgba(255, 255, 255, 0.1);
	}
.hero-video .excerpt {
		position: absolute;
		bottom: 4maj;
		right: 4maj;
		padding: 3maj 4maj;
		border-radius: 2maj;
		-webkit-backdrop-filter: var(--blur-filter);
		        backdrop-filter: var(--blur-filter);
		background-color: var(--gray-overlay);
		font-weight: 500;
		font-size: 2.25maj;
		max-width: 90maj;
		line-height: 1.5;
	}
@media (max-width: 1000px) {
.hero-video .excerpt {
			border: 0.5px solid rgba(255, 255, 255, 0.1);
			box-shadow: var(--med-shadow);
			-webkit-backdrop-filter: none;
			        backdrop-filter: none;
			background-color: var(--gray6);
			position: static;
			font-size: 1.65maj;
			padding: 2maj 3maj;
			border-radius: 1maj;
			max-width: none;
			width: 100%;
			margin: 0;
			margin-top: 1maj;
	}
		}
.hero-video img.volume-icon {
		position: absolute;
		top: 3maj;
		right: 4maj;
		box-sizing: content-box;
		width: 2maj;
		height: 2maj;
		transition: 225ms;
		padding: 1.5maj 2maj;
		fill: white;
		border-radius: 1.5maj;
		-webkit-backdrop-filter: var(--blur-filter);
		        backdrop-filter: var(--blur-filter);
		background-color: var(--gray-overlay);
		cursor: pointer;
	}
.hero-video img.volume-icon:hover {
			background-color: var(--black-overlay);
		}
@media (max-width: 1000px) {
.hero-video img.volume-icon {
			width: 1.5maj;
			height: 1.5maj;
			border-radius: 1maj;
			top: 1maj;
			right: 1maj;
	}
		}
.hero-video img.play-icon {
		position: absolute;
		top: 3maj;
		right: 12maj;
		box-sizing: content-box;
		width: 2maj;
		height: 2maj;
		transition: 225ms;
		padding: 1.5maj 2maj;
		fill: white;
		border-radius: 1.5maj;
		-webkit-backdrop-filter: var(--blur-filter);
		        backdrop-filter: var(--blur-filter);
		background-color: var(--gray-overlay);
		cursor: pointer;
	}
.hero-video img.play-icon:hover {
			background-color: var(--black-overlay);
		}
@media (max-width: 1000px) {
.hero-video img.play-icon {
			width: 1.5maj;
			height: 1.5maj;
			border-radius: 1maj;
			top: 1maj;
			right: 8maj;
	}
		}
/* MARK: Team */
#team {
	margin: 14maj 0 6maj;
}
@media (max-width: 600px) {
#team {
		margin: 8maj 0 0;
}
	}
#team .title {
		margin-top: 5maj;
		text-align: center;
	}
#team .team-grid {
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 3maj;
		overflow-y: visible;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
		scroll-padding-left: calc(var(--padding) * 1.5);

		-ms-overflow-style: none;
		scrollbar-width: none;
	}
#team .team-grid::-webkit-scrollbar {
			display: none;
		}
@media (max-width: 768px) {
#team .team-grid {
			justify-content: flex-start;
	}
		}
#team .team-grid .team-member {
			position: relative;
			scroll-snap-align: start;
		}
@media (max-width: 768px) {
#team .team-grid .team-member {
				scroll-snap-align: center;
		}
			}
#team .team-grid .team-member {

			padding: 0 5maj;

			/* &:not(:first-child) {
		 margin-left: 5maj; */
		}
@media (max-width: 600px) {
#team .team-grid .team-member {
				padding: 0 2.5maj;
		}
			}
/* } */
#team .team-grid .team-member .cta {
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-weight: 500;
				z-index: 9;
				transition: 300ms;
				width: 5maj;
				pointer-events: none;
			}
@media (pointer: "fine") {
					#team .team-grid .team-member:hover .team-image {
						transform: translateY(-1maj);
						box-shadow: var(--hover-shadow);
					}

					#team .team-grid .team-member:hover .cta {
						opacity: 1;
					}
			}
#team .team-grid .team-member .name {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
#team .team-grid .team-member .name h4 {
					margin: 0;
					margin-top: 2maj;
				}
#team .team-grid .team-member .name h6 {
					margin: 1maj 0;
				}
#team .team-grid .team-member .competencies {
				font-size: 1.5maj;
				max-width: 25maj;
				word-wrap: break-word;
				margin: 1maj auto;
				color: var(--accentColor);
			}
.team-image {
	box-shadow: var(--med-shadow);
	position: relative;
	transition: 225ms;
	padding-bottom: 100%;
	width: 25maj;
	cursor: pointer;
}
.team-image,
	.team-image img {
		border-radius: 50%;
	}
.team-image img {
		-o-object-fit: cover;
		   object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
.team-overlay {
	display: none;
	padding: 5maj 1maj 20maj;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	z-index: 90;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	background: var(--black-overlay);
}
.team-overlay .team-image {
		cursor: default;
	}
@media (max-width: 768px) {
.team-overlay {
		justify-content: start;
}
	}
.dismiss-message {
	font-weight: 500;
	pointer-events: none;
	cursor: pointer;
	padding: 2maj 0;
}
.dismiss-message::before {
		content: "Click";
	}
@media (pointer: "coarse") {
.dismiss-message::before {
			content: "Swipe down";
	}
		}
/* MARK: Offerings */
#offerings .heading {
		text-align: center;
		padding-top: 2maj;
		padding-bottom: 2maj;
	}
#offerings .offerings-wrapper {
		--padding: 32px;
		--gap: 5maj;

		overflow-x: scroll;
		overscroll-behavior-x: none;
		padding: var(--padding) 0;
		display: grid;
		grid-template-columns: var(--gap) 1fr var(--gap);
		scroll-snap-type: x proximity;
		/* scroll-padding-left: calc(var(--padding) * 1.5);
	 scroll-padding-right: calc(var(--padding) * 1.5); */
	}
@media (--tablet) {
#offerings .offerings-wrapper {
			--gap: 1maj;
	}
		}
#offerings .offerings-wrapper::before,
		#offerings .offerings-wrapper::after {
			content: "";
		}
#offerings .offerings-wrapper {

		-ms-overflow-style: none;
		scrollbar-width: none;
	}
#offerings .offerings-wrapper::-webkit-scrollbar {
			display: none;
		}
#offerings .offerings-list {
		display: grid;
		align-content: start;
		grid-gap: var(--gap);
		grid-template-columns: repeat(var(--cards), max(100maj, min(40vw, 200maj)));
	}
@media (--tablet) {
#offerings .offerings-list {
			grid-template-columns: repeat(var(--cards), 90%);
	}
		}
#offerings .offering-card {
		scroll-snap-align: center;
		background: var(--black);
		border: 1px solid var(--gray5);
		border-radius: 2maj;
		display: flex;
		overflow: hidden;
	}
@media (--tablet) {
#offerings .offering-card {
			flex-direction: column;
	}
		}
#offerings .offering-card .image-wrapper {
			width: 50%;
			-webkit-mask-image: linear-gradient(90deg, #000 75%, transparent);
			        mask-image: linear-gradient(90deg, #000 75%, transparent);
			position: relative;
			border-radius: 2maj;
			overflow: hidden;
		}
@media (--tablet) {
#offerings .offering-card .image-wrapper {
				width: 100%;
				height: 30maj;
				-webkit-mask-image: linear-gradient(#000 75%, transparent);
				        mask-image: linear-gradient(#000 75%, transparent);
		}
			}
#offerings .offering-card .image-wrapper .img {
				-o-object-fit: cover;
				   object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
#offerings .offering-card .content {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-content: start;
			padding: 5maj;
		}
@media (--tablet) {
#offerings .offering-card .content {
				width: 100%;
				padding: 2.5maj;
		}
			}
#offerings .offering-card .content .description {
				color: var(--gray1);
			}
#offerings .offering-card .content .learn-more {
				margin-left: auto;
				box-shadow: 0 0 0 1px var(--blue);
			}
#offerings .offering-card .content .learn-more:hover {
					background-color: rgba(255,255,255,0.06275);
				}
/* MARK: Clients */
#clients {
	padding: 6maj 0 10maj;
	text-align: center;
}
@media (max-width: 600px) {
#clients {
		padding: 4maj 0;
}
	}
#clients .title {
		margin-bottom: 0;
	}
#clients .sub-title {
		margin: 1maj 0 2maj;
		font-weight: 400;
		color: var(--accentColor);
	}
#clients .logos {
		display: flex;
		margin: 0 auto;
		justify-content: center;
		max-width: 200maj;
		flex-wrap: wrap;
	}
#clients .logos .logo,
		#clients .logos .logo img {
			width: 12maj;
		}
@media (max-width: 768px) {
#clients .logos .logo,
		#clients .logos .logo img {
				width: 7maj;
		}
				#clients .logos .logo.extra, #clients .logos .logo img.extra {
					display: none;
				}
			}
