<div class="banners">
  {{ if (isset .Params "cta") }}
  {{ with .Params.cta }}{{ partial "site/cta" . }}{{ end }}
  {{ else if (isset .Site.Params "cta")}}
  {{ with .Site.Params.cta }}{{ partial "site/cta" . }}{{ end }}
  {{ end }}
</div>

<footer class="site-footer" role="contentinfo">

  <div class="inner">
    <div class="left">
      <img class="footer-flag" src="/assets/canada.svg" alt="Canadian Flag">
      {{ .Site.Data.en.FOOTER_PRETEXT}}
    </div>

    <div class="center">
      <div class="site-footer__codivyright">
        &copy; {{ now.Format "2006" }} <a href="/">{{ .Site.Title }} Inc.</a>
      </div>
    </div>


    <div class="right">
      {{ range .Site.Data.footer.social.channel }}
      <a href="{{ .url }}" target="_blank" class="icon">

        {{ if hasPrefix .icon "http" }}
        <img src="{{ .icon }}" alt="{{ .name }}">
        {{ else }}
        <img src="/assets/{{ .icon }}" alt="{{ .name }}">
        {{ end }}


      </a>
      {{ end }}
    </div>
  </div>

  <div class="sub-footer">
    <div class="mail">
      {{ .Site.Data.footer.mail }}
    </div>
  </div>

</footer>