<header class="site-header" role="banner">
  <div class="wrapper">

    <div class="large menu">

      <a class="anchor left" href="{{ .Site.BaseURL }}">
        <img class="header-logo" src="/assets/logo.svg" alt="Vek Labs" />
      </a>
      <div class="center">
        {{ $currentPage := . }}
        {{ if (ne $currentPage.RelPermalink "/") }}
        <a class="top" href="/">Home</a>
        {{ end }}
        {{ range .Site.Menus.main }}
        <a class="top{{ if ($currentPage.IsMenuCurrent "main" .  ) }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
      <div class="right">
        <a class="top menu-link" href="/contact">Contact</a>
      </div>

    </div>

    <div class="small menu">

      <a class="anchor left" href="{{ .Site.BaseURL }}">
        <img class="header-logo" src="{{ .Site.BaseURL }}/assets/logo.svg" alt="Vek Labs" />
      </a>

      <div class="center">
        {{ if (and (not $currentPage.IsHome) (eq .Params.type "top"))}}
        {{ $currentPage.Name }}
        {{end}}
      </div>

      <div class="right">
        <div class="menu">
          <span class="hamburger menu-link">
            <svg viewBox="0 0 24 24">
              <use href="/assets/menu.svg#icon"></use>
            </svg>
          </span>
        </div>
      </div>

    </div>

  </div>

</header>