<header class="site-header" role="banner">
 <div class="wrapper">
  <a class="anchor" href="#videos">
   <img class="header-logo" src="{{ .Site.BaseURL }}/assets/logo.svg" alt="Veklabs" />
  </a>
  <div>
   <a class="top anchor" href="#team">Team</a>
   <a class="top" href="#contact" id="contact-link">Contact</a>
  </div>
 </div>
 <div id="contact-drawer">
  <div id="inner-drawer">

   <a href="mailto:{{.Site.Data.en.EMAIL}}" class="button email" target="_blank">
    <div class="icon"><img src="{{ .Site.BaseURL }}/assets/envelope.svg" aria-describedby="{{.Site.Data.en.EMAIL}}"
      alt="">
    </div>
    <span>
     {{.Site.Data.en.EMAIL}}
    </span>
   </a>

   <a href="tel:{{.Site.Data.en.PHONE}}" class="button phone" target="_blank">
    <div class="icon"><img src="{{ .Site.BaseURL }}/assets/phone.svg" aria-describedby="{{.Site.Data.en.PHONE}}" alt="">
    </div>
    <span>
     {{.Site.Data.en.PHONE}}
    </span>
   </a>
  </div>
 </div>
</header>