{{ if and (isset . "image") (isset . "width") (isset . "height") }}

{{ $image := .image }}
{{ $imageResource := resources.Get .image }}

{{ $width := .width }}
{{ $height := .height }}
{{ $format := .format | default "jpg" }}

{{/* LQIP */}}
{{ $lqipFactor := 50 }}
{{ $lqipSize := (printf "%dx%d q10 NearestNeighbor jpg" (div $width $lqipFactor) (div $height $lqipFactor)) }}
{{ $lqip := ( $lqipSize | $imageResource.Fill ) }}

{{/* SRC */}}
{{ $srcSize := (printf "%dx%d %s" $width $height $format) }}
{{ $src := ($srcSize | $imageResource.Fill).RelPermalink }}

{{/* SRCSET */}}
{{ $srcset := slice }}
{{ $dpis := (slice 1 2 3) }}
{{ range $dpis }}
{{ $dpiSize := (printf "%dx%d %s" (mul $width .) (mul $height .) $format) }}
{{ $dpiUrl := ($dpiSize | $imageResource.Fill).RelPermalink }}
{{ $srcset = $srcset | append (printf "%s %dx" $dpiUrl .) }}
{{ end }}
{{ $srcset = (delimit $srcset ",")}}

<div class="image-wrapper {{ .class }}"
  style="background: url(data:image/jpeg;base64,{{ $lqip.Content | base64Encode }}); background-size: cover;">
  <img src="{{ $src }}" alt="{{ .alt }}" srcset="{{ $srcset }}" width="{{ $width }}" height="{{ $height }}" class="img"
    sizes="auto" loading="lazy" onload="this.style.opacity = 'initial'" style="opacity: 0;" />
</div>
{{ end }}