{{ $faviconSVG := (resources.Get "images/logo.svg").Permalink }}
{{ $darkFavicon := (resources.Get "images/logodark.png").Permalink }}
{{ $lightFavicon := (resources.Get "images/logo.png").Permalink }}



{{ $title := printf "%s | %s" (.Params.page_title | default (.Params.meta_title | default .Title)) .Site.Params.Title | default (printf "%s%s" .Site.Params.Title .Site.Params.subtitle ) }}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />

<title>{{ $title }}</title>

<!-- OpenGraph -->
{{ block "meta/opengraph" . }}
{{ template "_internal/opengraph.html" . }}
{{ end }}

<!-- Twitter -->
{{ block "meta/twitter" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ end }}

{{ if and (eq .Section "reports") (ne .Params.type "top") }}
{{ $image := printf "%s%s%s%s" .Site.BaseURL "/social-images/" (urlize .Title) ".jpg" }}
<meta property="og:image" content="{{ $image }}" />
<meta name="twitter:image" content="{{ $image }}">
{{ end }}

<meta name="theme-color" content="hsl(0, 0%, 6%)">

<!-- Schema JSON/LD -->
{{ block "meta/json" . }}
{{ template "_internal/schema.html" . }}
{{ end }}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />


{{ $description := .Summary | default .Site.Params.description }}
<meta name="description" content="{{ $description }}" />
<link rel="shortcut icon" href="{{ $faviconSVG }}" />