<ul class="pagination">

 {{ $curr := . }}

 {{ if .HasPrev }}
 <a class="page-prev page-number" href="{{ .Prev.URL }}" title="Go to page {{ sub .PageNumber 1 }}">
  <svg viewBox="0 0 24 24">
   <use href="/assets/arrow-left.svg#icon"></use>
  </svg>
 </a>
 {{ end }}

 {{ range .Pagers  }}

 {{ if eq $curr . }}
 <span class="page-number page-item active">
  {{.PageNumber}}
 </span>
 {{ else }}
 <a class="page-number page-item" href="{{ .URL }}" title="Go to page {{ .PageNumber }}">
  {{.PageNumber}}
 </a>
 {{ end }}

 {{ end }}


 {{ if .HasNext }}
 <a class="page-next page-number" href="{{ .Next.URL }}" title="Go to page {{ add .PageNumber 1 }}">
  <svg viewBox="0 0 24 24">
   <use href="/assets/arrow-right.svg#icon"></use>
  </svg>
 </a>
 {{ end }}

</ul>