<div class="member-info">

  <div class="header">
    <div class="avatar">
      {{if isset .Params "image"}}
      {{ partial "site/img" (dict "image" .Params.image "width" 250 "height" 250 "class" "team-image") }}
      {{end}}
    </div>

    <div class="name">
      <h4 class="h1">{{.Params.name}}</h4>

      <h4>{{.Params.title}}</h4>

      {{with .Params.competencies}}
      <span class="competencies">
        {{delimit . ", "}}
      </span>
      {{end}}
    </div>
  </div>

  {{with .Content}}
  {{.}}
  {{end}}

  {{ with .Params.channel }}
  <div class="social-media">
    {{ range . }}
    <a href="{{ .url }}" target="_blank" class="icon" rel="noopener">

      {{ if hasPrefix .icon "http" }}
      <img src="{{ .icon }}" alt="{{ .name }}">
      {{ else }}
      <img src="{{ .Site.BaseURL }}/assets/{{ .icon }}" alt="{{ .name }}">
      {{ end }}


    </a>
    {{ end }}
  </div>
  {{ end }}

</div>