{{ define "page/styles" }}
{{ partial "site/pageStyle" "css/products-services.css" }}
{{ end }}

{{ define "main" }}

<section id="services">

  <div class="container">

    <div class="service-list">

      <h1 class="main title">{{ .Title }}</h1>

      {{ range(.Pages.ByParam "order") }}

      {{ partial "shared/summary" . }}

      {{ end }}

      <div class="inventory">

        <h1 class="title">Equipment Arsenal</h1>

        {{.Content}}
      </div>

    </div>

  </div>

</section>

{{ $s := resources.Get "js/parallax.js" | minify }}

<script src="{{ $s.Permalink }}"></script>

{{ end }}