---
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import DefaultLayout from "../../layouts/DefaultLayout.astro"

export async function getStaticPaths() {
  const services = await getCollection("services")
  return services.map((service) => ({
    params: { slug: service.slug },
    props: service,
  }))
}

type Props = CollectionEntry<"service">

const service = Astro.props
const { image, page_title, title } = service.data
const { Content } = await service.render()
---

<style is:global>
  .content :is(h1, h2, h3, h4, h5, h6) {
    margin-block: 1rem;
  }
</style>

<DefaultLayout>
  <main
    class="mx-auto flex max-w-[calc(100vw-40px)] flex-col gap-10 pb-12 pt-4 md:max-w-[1200px] md:flex-row lg:p-10"
  >
    <div
      class="relative flex h-max w-full flex-col gap-4 md:sticky md:top-20 md:min-w-72"
    >
      {
        image && (
          <Image
            src={image}
            width={350}
            height={550}
            alt=""
            class="w-full rounded-xl shadow-xl ring-1 ring-gray-700/30 spring-duration-150"
          />
        )
      }

      <h1
        class="absolute bottom-0 m-2 rounded-lg bg-gray-950/60 p-4 text-xl font-semibold ring-1 ring-gray-700/30 backdrop-blur-lg backdrop-brightness-200 md:p-6"
      >
        {page_title || title}
      </h1>
    </div>

    <article class="content">
      <Content />
    </article>
  </main>
</DefaultLayout>
