{{ define "page/styles" }}
{{ partial "site/pageStyle" "css/products-services.css" }}
{{ end }}

<main class="padding single-product-service">
  <div class="container">

    {{ if (or (isset .Params "image") (isset .Params "page_image")) }}
    <div class="image-wrapper">
      {{ $image := .Params.page_image | default .Params.image }}
      {{ partial "site/img" (dict "image" $image "width" 380 "height" 630 "class" "header-image") }}

      <h1 class="title">
        {{ .Params.page_title | default .Title }}
      </h1>
    </div>
    {{ end }}

    <article class="content">
      {{ .Content }}
    </article>

  </div>
</main>