<div class="summary">

  <div class="inner">

    {{ $speed := .Params.speed }}
    {{ $order := .Params.order | default 2 }}

    {{ $image := .Params.summary_image | default .Params.image }}

    {{ if $image }}
    <div class="image rellax" data-rellax-speed="{{ $speed | default 1 }}">
      {{ if hasPrefix $image "http" }}
      <img src="{{ $image }}" alt="" />
      {{ else }}
      {{ $_image := resources.Get $image }}
      {{ $srcUrl := ("600x900 Lanczos" | $_image.Resize).RelPermalink }}
      <img src="{{ $srcUrl }}" alt="" />
      {{ end }}
    </div>
    {{ end }}

    <div class="text" style="z-index: {{ .Params.order | default 2 }}">

      <h2 class="title">
        {{ .Title }}
      </h2>

      <div class="excerpt">
        {{ .Summary }}
      </div>

      {{ if gt .WordCount 1 }}
      <a class="learn-more" href="{{ .Permalink }}">
        Learn More
        <svg>
          <use href="/assets/arrow-right.svg#icon"></use>
        </svg>
      </a>
      {{ end }}

    </div>

  </div>

</div>