/* MARK: Featured */
#featured-logos {
  padding: 48px 0 0;

  @media (--tablet) {
    padding-top: 24px;
  }

  & .container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 80px;
    width: 100%;
    margin: 0 auto;

    @media (--tablet) {
      grid-gap: 32px;
      grid-template-columns: 1fr;
    }

    @media (max-width: 1200px) {
      max-width: 100%;
      padding: 24px 24px;
    }
  }

  & .seen-on-tv {
    margin-top: auto;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.24);
    border: 1px solid var(--gray5);
    padding: 32px 40px;
    border-radius: 16px;
    width: 100%;
    max-width: 400px;

    @media (--tablet) {
      margin-left: unset;
      margin-top: unset;
      max-width: 100%;
    }

    & svg {
      line-height: 0;
      color: var(--text);
      max-width: 240px;
    }
  }

  & .work-featured-on {
    & .logos {
      --size: 64px;
      flex-basis: 50%;
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(var(--size) * 2.5), 1fr)
      );
      grid-gap: 24px;

      @media (max-width: 480px) {
        --size: 32px;
        grid-gap: 8px;
      }

      & .logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background: rgba(0, 0, 0, 0.24);
        border: 1px solid var(--gray5);
        padding: 32px 16px;
        border-radius: 16px;

        & svg {
          width: var(--size);
          height: var(--size);
          color: var(--gray4);
          fill: currentColor;
        }

        & .brand {
          white-space: nowrap;
          text-align: center;
          padding-top: 16px;
          color: var(--gray1);
          text-transform: capitalize;

          @media (max-width: 480px) {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

/* MARK: Guarantee */
#guarantee {
  padding: 48px 24px;
  margin: 120px auto 48px;

  @media (max-width: 1000px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  & .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1000px) {
      flex-wrap: wrap;
    }
  }

  & .title {
    margin-bottom: 48px;
    max-width: 600px;
    width: 100%;

    @media (max-width: 600px) {
      font-size: 1.75rem;
      margin-bottom: 24px;
    }
  }

  & .premium-text {
    max-width: 600px;
    color: var(--gray1);
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.25;

    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  & .guarantee-title {
    margin: 0;
  }

  & .guarantee-container {
    width: 100%;
    max-width: 60%;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.24);
    border: 1px solid var(--gray5);
    padding: 32px 40px;
    border-radius: 16px;

    @media (max-width: 1000px) {
      margin-top: 40px;
      max-width: 100%;
      padding: 24px 24px;
    }
  }

  & .guarantee-text {
    margin: 0;
    margin-top: 16px;
  }

  & .logos {
    display: grid;
    padding-top: 32px;
    max-width: 60%;
    margin-left: auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 16px;

    @media (max-width: 1000px) {
      max-width: 100%;
      gap: 24px;
    }

    & .credibility-logo {
      & img {
        width: 100%;
      }
    }
  }
}

/* MARK: Stats */
#stats {
  padding: 160px 24px;
  margin: 120px auto 48px;
  z-index: -2;
  background: black;
  position: relative;

  @media (max-width: 1000px) {
    margin: 64px auto;
    padding: 96px 24px;
  }

  & .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  & .disclaimer {
    position: absolute;
    bottom: 24px;
    right: 24px;
    margin-left: 24px;
    font-size: 0.75rem;
    color: var(--gray1);

    @media (max-width: 600px) {
      font-size: 0.6rem;
    }
  }

  & .title {
    margin-bottom: 48px;

    @media (max-width: 600px) {
      font-size: 2rem;
      margin-bottom: 24px;
    }
  }

  & .grid {
    list-style-type: none;
    align-items: start;
    justify-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 40px;
    max-width: 1000px;

    & .item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      & .number,
      & .number-support {
        font-size: 3.5rem;
        font-weight: 600;
        font-family: monospace;

        @media (max-width: 600px) {
          font-size: 2.5rem;
        }
      }

      & .description {
        margin-top: 16px;
        font-size: 1.25rem;
        color: var(--accentColor);
        white-space: nowrap;

        @media (max-width: 600px) {
          font-size: 1rem;
          margin-top: 8px;
        }
      }
    }
  }
}

/* MARK: Video */
.video {
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  transition: 300ms;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  border-radius: 1.40px;
  box-shadow: var(--med-shadow);
  height: 100%;
  scroll-snap-align: start;

  @media (max-width: 768px) {
    scroll-snap-align: center;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: 225ms;
  }

  @media (pointer: "fine") {
    &:hover:not(.hero-video) {
      & .preview {
        opacity: 1;
      }
      &::before {
        opacity: 1;
      }
    }
  }

  & .preview {
    opacity: 0;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: 225ms;
    object-fit: cover;
    border-radius: 1.40px;
    object-position: center;
  }

  @media (pointer: "fine") {
    &:hover {
      box-shadow:
        var(--big-shadow),
        0 0 0 3px #ffffff20;
    }
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover .title {
    transform: translateX(0);
    &::before {
      opacity: 1;
      transform: translateX(0);
    }
  }

  & .title {
    position: absolute;
    bottom: 32px;
    left: 32px;
    font-weight: 600;
    font-size: 24px;
    text-shadow: 0 0 2.40px var(--gray6);
    display: flex;
    align-items: center;
    transform: translateX(-16px);
    transition: 225ms;
    z-index: 3;

    @media (max-width: 768px) {
      bottom: 24px;
      left: 2.40px;
    }

    &::before {
      content: "";
      transition: 225ms;
      opacity: 0;
      transform: translateX(-8px);
      fill: white;
      display: inline-block;
      background: url("/assets/controls-play.svg");
      width: 16px;
      height: 16px;
      margin-right: 1.40px;
    }
  }

  & .type {
    position: absolute;
    top: 16px;
    right: 16px;
    text-transform: uppercase;
    font-size: 1.40px;
    font-weight: 500;
    background: var(--teal);
    backdrop-filter: var(--blur-filter);
    padding: 0.40px 0.600px;
    border-radius: 0.40px;
    z-index: 3;

    &.entertainment {
      background: var(--green);
    }

    &.promotional {
      background: var(--red);
    }

    &.social-media {
      background: var(--indigo);
    }

    &.corporate {
      background: var(--yellow);
    }

    &.short-documentary {
      background: var(--blue);
    }
  }
}

.scroll-arrows {
  padding-top: var(--padding);
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  list-style: none;
  z-index: 9;
  position: relative;

  @media (pointer: "coarse") {
    display: none;
  }

  & .page-number {
    padding: 8px 1.40px;
    background: #00000050;
    border-radius: 0.600px;
    cursor: pointer;
    transition: var(--fast);
    color: var(--text);

    & svg {
      width: 1.40px;
      height: 1.40px;
      margin: 0;
      fill: #ffffff;
      pointer-events: none;
    }

    &:hover {
      background: var(--gray5);
    }

    &.active {
      font-weight: bold;
      box-shadow: 0 0 0 1px #ffffff40;
    }
  }
}

.video-grid-wrapper {
  overflow-x: scroll;
  overscroll-behavior-x: none;
  padding: calc(var(--padding) * 2) 0;
  margin: calc(var(--padding) * -3) 0 calc(var(--padding) * -2);
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  scroll-snap-type: x mandatory;
  scroll-padding-left: calc(var(--padding) * 1.5);

  @media (max-width: 768px) {
    scroll-padding-left: 0;
  }

  &::before,
  &::after {
    content: "";
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.video-grid {
  --col-size: 480px;
  --aspect-ratio: calc(1920 / 1080);
  --row-size: calc(var(--col-size) / var(--aspect-ratio));

  display: grid;
  align-content: start;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--cols), var(--col-size));
  grid-template-rows: repeat(3, var(--row-size));
  grid-gap: var(--padding);

  @media (max-width: 600px) {
    --col-size: calc(100vw - (var(--padding) * 2));
    grid-gap: calc(var(--padding) / 2);
  }
}

.hero-video {
  max-height: 80vh;
  overflow: hidden;
  margin-bottom: 56px;
  border-radius: 1.40px;
  box-shadow: var(--big-shadow);
  transition: 225ms;
  position: relative;

  @media (max-width: 1000px) {
    box-shadow: var(--med-shadow);
  }

  @media (max-width: 600px) {
    margin-bottom: 32px;
  }

  & .preview-container {
    height: 0;
    padding-bottom: calc(700 / 1920 * 100%);
  }

  & .preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 1.40px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
  }

  & .excerpt {
    position: absolute;
    bottom: 32px;
    right: 32px;
    padding: 24px 32px;
    border-radius: 16px;
    backdrop-filter: var(--blur-filter);
    background-color: var(--gray-overlay);
    font-weight: 500;
    font-size: 2.200px;
    max-width: 720px;
    line-height: 1.5;

    @media (max-width: 1000px) {
      border: 0.5px solid rgba(255, 255, 255, 0.1);
      box-shadow: var(--med-shadow);
      backdrop-filter: none;
      background-color: var(--gray6);
      position: static;
      font-size: 1.520px;
      padding: 16px 24px;
      border-radius: 8px;
      max-width: none;
      width: 100%;
      margin: 0;
      margin-top: 8px;
    }
  }

  & img.volume-icon {
    position: absolute;
    top: 24px;
    right: 32px;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    transition: 225ms;
    padding: 1.40px 16px;
    fill: white;
    border-radius: 1.40px;
    backdrop-filter: var(--blur-filter);
    background-color: var(--gray-overlay);
    cursor: pointer;

    &:hover {
      background-color: var(--black-overlay);
    }

    @media (max-width: 1000px) {
      width: 1.40px;
      height: 1.40px;
      border-radius: 8px;
      top: 8px;
      right: 8px;
    }
  }

  & img.play-icon {
    position: absolute;
    top: 24px;
    right: 96px;
    box-sizing: content-box;
    width: 16px;
    height: 16px;
    transition: 225ms;
    padding: 1.40px 16px;
    fill: white;
    border-radius: 1.40px;
    backdrop-filter: var(--blur-filter);
    background-color: var(--gray-overlay);
    cursor: pointer;

    &:hover {
      background-color: var(--black-overlay);
    }

    @media (max-width: 1000px) {
      width: 1.40px;
      height: 1.40px;
      border-radius: 8px;
      top: 8px;
      right: 64px;
    }
  }
}

/* MARK: Team */
#team {
  margin: 112px 0 48px;

  @media (max-width: 600px) {
    margin: 64px 0 0;
  }

  & .title {
    margin-top: 40px;
    text-align: center;
  }

  & .team-grid {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 24px;
    overflow-y: visible;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-padding-left: calc(var(--padding) * 1.5);

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 768px) {
      justify-content: flex-start;
    }

    & .team-member {
      position: relative;
      scroll-snap-align: start;

      @media (max-width: 768px) {
        scroll-snap-align: center;
      }

      padding: 0 40px;

      /* &:not(:first-child) {
    margin-left: 40px; */

      @media (max-width: 600px) {
        padding: 0 2.40px;
      }
      /* } */

      & .cta {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        z-index: 9;
        transition: 300ms;
        width: 40px;
        pointer-events: none;
      }

      @media (pointer: "fine") {
        &:hover {
          & .team-image {
            transform: translateY(-8px);
            box-shadow: var(--hover-shadow);
          }

          & .cta {
            opacity: 1;
          }
        }
      }

      & .name {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & h4 {
          margin: 0;
          margin-top: 16px;
        }

        & h6 {
          margin: 8px 0;
        }
      }

      & .competencies {
        font-size: 1.40px;
        max-width: 200px;
        word-wrap: break-word;
        margin: 8px auto;
        color: var(--accentColor);
      }
    }
  }
}

.team-image {
  box-shadow: var(--med-shadow);
  position: relative;
  transition: 225ms;
  padding-bottom: 100%;
  width: 200px;
  cursor: pointer;

  &,
  & img {
    border-radius: 50%;
  }

  & img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.team-overlay {
  display: none;
  padding: 40px 8px 160px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 90;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: var(--black-overlay);

  & .team-image {
    cursor: default;
  }

  @media (max-width: 768px) {
    justify-content: start;
  }
}

.dismiss-message {
  font-weight: 500;
  pointer-events: none;
  cursor: pointer;
  padding: 16px 0;

  &::before {
    content: "Click";

    @media (pointer: "coarse") {
      content: "Swipe down";
    }
  }
}

/* MARK: Offerings */
#offerings {
  & .heading {
    text-align: center;
    padding-block: 16px;
  }

  & .offerings-wrapper {
    --padding: 32px;
    --gap: 40px;

    overflow-x: scroll;
    overscroll-behavior-x: none;
    padding: var(--padding) 0;
    display: grid;
    grid-template-columns: var(--gap) 1fr var(--gap);
    scroll-snap-type: x proximity;
    /* scroll-padding-left: calc(var(--padding) * 1.5);
  scroll-padding-right: calc(var(--padding) * 1.5); */

    @media (--tablet) {
      --gap: 8px;
    }

    &::before,
    &::after {
      content: "";
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .offerings-list {
    display: grid;
    align-content: start;
    grid-gap: var(--gap);
    grid-template-columns: repeat(var(--cards), clamp(800px, 40vw, 1600px));

    @media (--tablet) {
      grid-template-columns: repeat(var(--cards), 90%);
    }
  }

  & .offering-card {
    scroll-snap-align: center;
    background: var(--black);
    border: 1px solid var(--gray5);
    border-radius: 16px;
    display: flex;
    overflow: hidden;

    @media (--tablet) {
      flex-direction: column;
    }

    & .image-wrapper {
      width: 50%;
      mask-image: linear-gradient(90deg, #000 75%, transparent);
      position: relative;
      border-radius: 16px;
      overflow: hidden;

      @media (--tablet) {
        width: 100%;
        height: 240px;
        mask-image: linear-gradient(#000 75%, transparent);
      }

      & .img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }

    & .content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-content: start;
      padding: 40px;

      @media (--tablet) {
        width: 100%;
        padding: 2.40px;
      }

      & .description {
        color: var(--gray1);
      }

      & .learn-more {
        margin-left: auto;
        box-shadow: 0 0 0 1px var(--blue);

        &:hover {
          background-color: #ffffff10;
        }
      }
    }
  }
}

/* MARK: Clients */
#clients {
  padding: 48px 0 80px;
  text-align: center;

  @media (max-width: 600px) {
    padding: 32px 0;
  }

  & .title {
    margin-bottom: 0;
  }

  & .sub-title {
    margin: 8px 0 16px;
    font-weight: 400;
    color: var(--accentColor);
  }

  & .logos {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 1600px;
    flex-wrap: wrap;

    & .logo,
    & .logo img {
      width: 96px;

      @media (max-width: 768px) {
        width: 56px;
        &.extra {
          display: none;
        }
      }
    }
  }
}
