{{ define "main" }}

<main id="blog" class="padding">
 <div class="container">

  <h1>Lab Reports</h1>

  <div class="post-list">

   {{ $paginator := .Paginate .Pages }}
   {{ range $index, $page := $paginator.Pages }}

   {{ $id := cond (ne $paginator.HasPrev true) (printf "index-%v" $index) "" }}

   <a href="{{ .Permalink }}" class="listing" id="{{ $id }}">
    <article>
     <div class="image">

      {{ with .Params.category}}
      <span class="type {{ anchorize . }}">{{.}}</span>
      {{end}}

      {{ if hasPrefix .Params.image "http"}}
      <img src="{{ .Params.image }}" alt="">
      {{ else }}
      {{ partial "site/img" . }}
      {{ end }}

     </div>
     <div class="content">
      <h2 class="title">{{ .Title }}</h2>
      <p class="excerpt">{{ .Summary }}</p>
      {{ partial "blog/readtime" . }}
     </div>
    </article>
   </a>

   {{ end }}

  </div>


  {{ partial "site/pagination.html" $paginator }}
 </div>
</main>

{{ end }}