@custom-media --desktop (max-width: 1500px);
@custom-media --tablet (max-width: 1024px);
@custom-media --mobile (max-width: 768px);

:root {
 --body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

 --white: #ffffff;
 --gray1: #8e8e93;
 --gray2: #636366;
 --gray3: #48484a;
 --gray4: #3a3a3c;
 --gray5: #2c2c2e;
 --gray6: hsl(0, 0%, 7%);
 --black: #000000;
 --gray-overlay: hsla(0, 0%, 5%, 0.65);
 --black-overlay: rgba(0, 0, 0, 0.8);

 --background: var(--gray6);
 --text: var(--white);

 --blue: #0a84ff65;
 --solid-blue: #0a84ff;
 --green: #30d15865;
 --solid-green: #30d158;
 --indigo: #5e5ce665;
 --orange: #ff9f0a65;
 --solid-orange: #ff9f0a;
 --pink: #ff375f65;
 --purple: #bf5af265;
 --red: #ff453a65;
 --solid-red: #ff453a;
 --teal: #64d2ff65;
 --solid-teal: #64d2ff;
 --yellow: #ffd60a65;

 --accentColor: var(--solid-blue);

 --fast: 125ms;
 --default: 225ms;
 --slow: 350ms;

 /* Filter Drop Shadow Equivalents */
 --med-filter-shadow: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.48));

 --med-shadow: 0 18px 45px rgba(0, 0, 0, 0.24);
 --big-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
 --hover-shadow: 0 30px 65px rgba(0, 0, 0, 0.45);

 --blur-filter: blur(20px) saturate(180%);
}