{{ with .Params.offerings }}
<section id="offerings">
  <div class="container">

    <div class="offerings-wrapper">
      <div class="offerings-list" style="--cards: {{ len . }}">
        {{ range . }}

        <div class="offering-card">
          {{ partial "site/img" (dict "image" .image "width" 280 "height" 300) }}

          <div class="content">
            {{ printf "<%s class=\"title h2\">%s</%s>" .tag .title .tag | safeHTML }}

            <p class="description">{{ .description }}</p>

            {{ with .rel }}
            <a class="learn-more" href="{{ . }}">Learn More</a>
            {{ end }}
          </div>
        </div>

        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}