{{ $videoID := string .Params.videoID }}
{{ $videoJSON := getJSON "https://api.vimeo.com/videos/" $videoID (dict "Authorization" "Bearer f3899883765a2f230bed2aa5d6db13b5") }}

<script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type":"VideoObject",
  "url": {{ $videoJSON.link | default .Permalink }},
  "name": {{ $videoJSON.name | default .Title }},
  "description": {{ $videoJSON.description | default .Params.description }},
  "uploadDate": {{ $videoJSON.created_time }},
  "datePublished": {{ $videoJSON.release_time }},
  "dateModified" : {{ $videoJSON.modified_time }},
  "thumbnailUrl": {{ (resources.Get .Params.image).Permalink }}
  }
</script>