---
import { getCollection } from "astro:content"
import IndexPost from "../../components/IndexPost.astro"
import DefaultLayout from "../../layouts/DefaultLayout.astro"

const posts = (await getCollection("reports")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
)
---

<DefaultLayout>
  <section id="blog" class="p-6 lg:p-4">
    <div
      class="mx-auto min-h-[calc(100vh-135px)] max-w-[980px] pb-12 pt-4 lg:py-20"
    >
      <h1 class="m-0 text-5xl font-semibold">Lab Reports</h1>

      <div class="mt-12 grid grid-cols-1 gap-16 lg:grid-cols-10">
        {
          posts.map(async (post, i) => (
            <IndexPost {...post} featured={i === 0} />
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>
