#blog {
 & .container {
  max-width: 980px;
  margin: 0 auto;
  padding: 10maj 0;
  min-height: calc(100vh - 135px);

  @media (--tablet) {
   padding: 2maj 0 6maj;
  }
 }

 .post-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 8maj;
  margin-top: 6maj;

  @media (--tablet) {
   grid-gap: 6maj;
   grid-template-columns: 1fr;
  }

  & .listing {
   grid-column: span 5;
   border-radius: 1.5maj;
   transition: var(--default);
   width: 100%;

   @media (--tablet) {
    grid-column: 1 / -1;
   }

   &:hover {
    & .image {
     box-shadow: var(--med-shadow);
     transform: scale(1.025);
     z-index: 9;
    }

    & .content {
     background: #00000080;
    }
   }

   & article {
    display: flex;
    width: 100%;
    flex-direction: column;
   }

   & .content {
    padding: 3maj;
    padding-top: 4maj;
    margin: 1maj 1.5maj;
    margin-top: 0;
    color: var(--text);
    border-radius: 0 0 1.5maj 1.5maj;
    transition: var(--default);

    @media (--mobile) {
     padding-top: 2maj;
     margin: 0;
    }

    & .title {
     margin: 0;
     font-weight: 500;
    }

    & .excerpt {
     color: var(--gray1);
     font-size: 0.85rem;
     display: box;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     margin: 0;
     margin-top: 1.5maj;
    }

    & .time-to-read {
     font-size: 0.85rem;
     color: var(--accentColor);
     display: block;
     margin-top: 1.5maj;
    }
   }

   & .image {
    height: 30maj;
    transition: var(--default);
    position: relative;

    & .image-wrapper,
    & img {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     position: absolute;
     border-radius: 1.5maj;
    }

    @media (--mobile) {
     height: 22maj;
    }

    & img {
     object-fit: cover;
     border: 1px solid var(--gray5);
    }
   }

   /*FIRST*/
   @media (min-width: 769px) {
    &#index-0 {
     grid-column: 1 / -1;
     flex-direction: row;

     & article {
      flex-direction: row;
     }

     & .image {
      height: 300px;
      flex-basis: 65%;
     }

     & .content {
      flex-basis: 35%;
      padding-left: 4maj;
      padding-top: 3maj;
      margin: 1maj 1.5maj 1maj 0;
      border-radius: 0 1.5maj 1.5maj 0;
     }

     & .excerpt {
      -webkit-line-clamp: 4;
     }
    }
   }
  }
 }
}

// SHARED
.type {
 position: absolute;
 top: 2maj;
 right: 2maj;
 text-transform: uppercase;
 font-size: 1.5maj;
 font-weight: 500;
 background: var(--teal);
 backdrop-filter: var(--blur-filter) contrast(75%) saturate(0%);
 padding: 0.5maj 0.75maj;
 border-radius: 0.5maj;
 z-index: 3;
 color: var(--text);

 &.marketing {
  background: var(--green);
 }

 &.news,
 &.vekcast {
  background: var(--red);
 }

 &.photography,
 &.production {
  background: var(--indigo);
 }

 &.case-study {
  background: var(--yellow);
 }

 &.update {
  background: var(--blue);
 }
}

.gallery {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 grid-gap: 3maj;
 padding: 3maj 0;

 & img {
  border-radius: 1.5maj;
  width: 100%;
 }
}

#post {
 max-width: 980px;
 margin: 0 auto;
 padding: 3maj 0 10maj;
 filter: blur(0px);

 @media (--tablet) {
  max-width: 100vw;
  padding: 0 3maj;
  overflow: hidden;
 }

 & .member-info {
  padding: 3maj 4maj;
  border: 1px solid var(--gray5);

  & .header {
   & h1 {
    font-size: 2rem;
   }

   & h4,
   & .competencies {
    font-size: 1.15rem;
   }
  }

  & p {
   font-size: 1rem;
   padding-block-start: 1maj;
   margin: 0;
   font-weight: 400;
  }
 }

 & article {
  & .title-container {
   margin: 6maj 0 3maj;

   @media (--tablet) {
    margin: 3maj 0;
   }
  }

  & .title {
   @media (--tablet) {
    font-size: 2rem;
   }
  }

  & .content {
   max-width: 80ch;
   margin-inline: auto;

   @media (min-width: 1000px) {
    padding: 0 3maj;
   }

   p {
    line-height: 3maj;
   }

   p::before {
    content: "";
    display: table;
    width: 20maj;
   }

   a:hover {
    text-decoration: underline;
   }

   iframe {
    padding-block: 2maj;
   }

   & .image {
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    display: inline-flex;
    padding: 2maj 5maj;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.full {
     padding: 2maj 0;
    }

    &.left {
     float: left;
    }

    &.right {
     float: right;
    }

    & img {
     width: 100%;
     border-radius: 1.5maj;
    }
   }
  }

  & .hero-image {
   width: 100%;
   height: 0;
   padding-bottom: 40%;
   margin-bottom: 5maj;
   border-radius: 1.5maj;
   overflow: hidden;
   position: relative;
   box-shadow: var(--med-shadow);

   & .image-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
   }

   & .date {
    font-weight: 500;
    position: absolute;
    bottom: 2maj;
    right: 2maj;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.25rem;
    color: orange;
    mix-blend-mode: screen;
   }

   &.empty {
    padding-bottom: 0;
    box-shadow: none;
    display: flex;
    height: unset;
    align-items: center;
    justify-content: space-between;
    padding: 2maj;

    & > * {
     position: static !important;
    }
   }

   & .back-button {
    background: #00000050;
    backdrop-filter: var(--blur-filter);
    position: absolute;
    top: 2maj;
    left: 2maj;
    border-radius: 9999px;
    padding: 1maj 2maj;
    font-size: 0.85rem;
    color: var(--text);
    transition: var(--default);
    z-index: 2;

    &:hover {
     background: #00000075;
    }
   }

   & .back-arrow {
    fill: currentColor;
    width: 0.65rem;
   }

   & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
   }
  }
 }
}

.pagination {
 display: grid;
 grid-auto-flow: column;
 grid-gap: 1maj;
 width: 100%;
 align-items: center;
 justify-content: center;
 list-style: none;

 & .page-number {
  padding: 1maj 1.5maj;
  background: #00000050;
  border-radius: 0.75maj;
  cursor: pointer;
  transition: var(--fast);
  color: var(--text);

  & svg {
   width: 1.5maj;
   height: 1.5maj;
   margin: 0;
   fill: #ffffff;
  }

  &:hover {
   background: var(--gray5);
  }

  &.active {
   font-weight: bold;
   box-shadow: 0 0 0 1px #ffffff40;
  }
 }
}

.overlay {
 display: none;
 position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 background: var(--black-overlay);
 z-index: 50;
 align-items: center;
 justify-content: center;

 & .inner {
  padding: 5maj;
  display: block;
  border-radius: 2maj;
  /* backdrop-filter: var(--blur-filter); */
  background-color: var(--gray-overlay);
  font-weight: 500;
  font-size: 2.25maj;
  max-width: 120maj;
  line-height: 1.5;

  & .header {
   display: flex;
   height: auto;
   align-items: center;

   @media (--mobile) {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
   }

   & h1 {
    margin: 0;
   }

   & h4 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 1maj;
    color: var(--accentColor);
   }

   & .competencies {
    color: var(--gray1);
   }

   & .name {
    margin-left: 5maj;

    @media (--mobile) {
     margin-left: 0;
     margin-bottom: 3maj;
     font-size: 80%;
    }
   }
  }

  & p {
   font-size: 1.75maj;
  }
 }
}

.team-image {
 box-shadow: var(--med-shadow);
 position: relative;
 transition: 225ms;
 padding-bottom: 100%;
 width: 20maj;

 &,
 & img {
  border-radius: 50%;
 }

 & img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }
}

#more-articles {
 max-width: 100%;
 padding-top: 6maj;

 & .posts-container {
  overflow: auto;
  padding: 6maj;
  margin: -6maj;
  display: grid;
  grid-gap: 2maj;
  grid-template-columns: repeat(3, minmax(250px, 300px));
 }

 & .title {
  position: sticky;
  left: 0;
  top: 0;
 }

 & .post {
  cursor: pointer;
  color: var(--text);
  z-index: 47;

  &:hover {
   & .image {
    box-shadow: var(--med-shadow);
    transform: scale(1.025);
    z-index: 9;
   }

   & .content {
    background: #00000080;
   }
  }

  & .content {
   padding: 2maj;
   margin: -2maj 1maj 1maj;
   transition: var(--default);
   border-radius: 0 0 1maj 1maj;
  }

  & .excerpt {
   color: var(--gray1);
   font-size: 0.85rem;
   display: box;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 0;
   margin-top: 1.5maj;
  }

  & .title {
   width: 100%;
   display: flex;
   flex-direction: column;

   & .readtime {
    white-space: nowrap;
    font-weight: normal;
    color: var(--accentColor);
    padding-top: 0.5maj;
   }
  }

  & .image {
   height: 0;
   width: 100%;
   padding-bottom: 50%;
   position: relative;
   transition: var(--default);
   background: var(--background);
   border-radius: 1maj;

   & img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1maj;
    box-shadow: var(--med-shadow);
   }
  }
 }
}
