#clients {
 padding: 6maj 0 10maj;
 text-align: center;

 @media (max-width: 600px) {
  padding: 4maj 0;
 }

 .title {
  margin-bottom: 0;
 }

 .sub-title {
  margin: 1maj 0 2maj;
  font-weight: 400;
  color: var(--accentColor);
 }

 .logos {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 100maj;
  flex-wrap: wrap;

  .logo,
  .logo img {
   width: 10maj;

   @media (max-width: 768px) {
    width: 7maj;
    &.extra {
     display: none;
    }
   }
  }
 }
}
