#features {
 .container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  padding: 6maj;

  .card {
   scroll-padding-top: 7maj;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   min-height: 100%;
   padding: 6maj 0;
   scroll-snap-align: center;
   display: flex;
   justify-content: center;
   align-items: center;

   @media (max-width: 1500px) {
    flex-direction: column;
   }
  }
 }

 .left {
  width: 65%;
  @media (max-width: 1500px) {
   width: 100%;
  }
 }

 .right {
  padding: 4maj;
  padding-left: 6maj;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1500px) {
   width: 100%;
  }
 }

 .trailer {
  position: relative;
  transition: var(--default);
  cursor: pointer;

  &:hover {
   box-shadow: var(--hover-shadow);
   transform: translateY(-1maj);
  }

  .play-icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 5maj;
   height: 5maj;
   z-index: 9;
   transition: var(--default);
  }

  .fullscreen-icon {
   display: none;
   position: absolute;
   bottom: 1maj;
   opacity: 0.5;
   right: 2maj;
   width: 5maj;
   height: 5maj;
   z-index: 9;
  }

  &[playing="true"] {
   .play-icon {
    opacity: 0;
   }

   &:hover {
    .play-icon {
     opacity: 1;
    }
   }
  }

  &[played="true"] {
   .fullscreen-icon {
    display: initial;

    &:hover {
     opacity: 1;
    }
   }
  }

  video {
   border-radius: 1.5maj;
   box-shadow: var(--med-shadow);
   object-fit: cover;
   width: 100%;
  }
 }

 .title {
  margin: 0;
  line-height: 1;
  padding: 2maj 0;
 }

 .category {
  margin: 0;
  color: var(--gray1);
  line-height: 1;
 }

 .excerpt {
  margin-top: 3maj;
  line-height: 2;
  max-width: 500px;
 }

 .awards {
  margin-top: 6maj;

  .award {
   width: 125px;
   object-fit: cover;
  }
 }
}

.more-coming {
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 4maj;

 span {
  background: var(--black-overlay);
  backdrop-filter: blur(20px) saturate(180%);
  padding: 2maj;
  border-radius: 1.5maj;
 }
}
