footer {
 background: var(--background);

 & .inner {
  display: flex;
  align-items: center;
  padding: 2maj 3maj;
  border-top: 1px solid var(--gray5);

  & .left,
  & .right,
  & .center {
   flex-basis: 33%;
  }
 }

 & .center {
  text-align: center;
 }

 & .right {
  text-align: right;
 }

 & .footer-flag {
  height: 1.5maj;
  color: white;
 }

 & a {
  color: var(--white);
  font-weight: 600;
 }

 & .sub-footer {
  padding: 2maj 3maj;
  border-top: 1px solid var(--gray5);
  background: var(--black-overlay);
  display: flex;
  align-items: center;
  justify-content: center;

  & .divider {
   padding-inline: 2maj;
  }
 }

 & .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1maj;

  @media (--tablet) {
   margin-top: 2maj;
  }

  & .icon {
   margin: 0 1maj;

   & img {
    height: 2maj;

    @media (--tablet) {
     height: 3maj;
    }
   }
  }
 }
}

.banners {
 display: flex;
 position: fixed;
 flex-direction: column;
 bottom: clamp(2maj, 5vh, 10maj);
 right: clamp(1.5maj, 3vw, 10maj);
 margin-left: clamp(1.5maj, 3vw, 10maj);
 z-index: 70;

 & > * {
  margin-left: auto;
 }

 & > * + * {
  margin-top: 2maj;
 }
}

.call-to-action {
 background-color: var(--gray-overlay);
 backdrop-filter: var(--blur-filter);
 filter: var(--med-filter-shadow);
 padding: 1.5maj 3maj;
 border-radius: 999px;
 box-shadow: 0 0 0 1px var(--gray4);
 user-select: none;
 display: flex;
 align-items: center;

 & .title {
  font-weight: 500;
  font-size: 1.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 & .description {
  color: var(--gray1);
  padding-block-start: 1min;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 & .text {
  max-width: min(300px, 90vw);
  padding-inline: 3maj;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: default;
 }

 & .button {
  background-color: var(--accentColor);
  color: var(--white);
  padding: 1.5maj 3.5maj;
  margin-right: -1.5maj;
  border-radius: 999px;
  transition: var(--default);

  &:hover {
   box-shadow: 0 13px 36px var(--blue);
   transform: translateY(-2px);
  }
 }
}

/* BANNER */
.banner {
 --banner-color: #d37829;

 border-radius: 999px;
 z-index: 70;
 box-shadow: 0 8px 15px #d3782940;
 user-select: none;
 display: flex;
 padding: 1min;
 padding-right: 2maj;
 align-items: center;
 background-color: var(--banner-color); /* To match local excellence badge */
 font-size: clamp(1.75maj, 2vw, 2maj);

 & .image {
  width: clamp(7maj, 5vw, 10maj);
 }

 & .title {
  padding: 0 1maj;
  max-width: 30maj;
  font-weight: 500;
 }

 & .button {
  color: var(--text);
  border: 1px solid var(--text);
  padding: 1maj 2maj;
  margin-left: clamp(1.5maj, 2vw, 2maj);
  border-radius: 1maj 2maj 2maj 1maj;
  background: #ffffff30;
  transition: var(--fast);
  white-space: nowrap;

  &:hover {
   background: #ffffff45;
  }
 }
}
