footer {
 padding: 0.5maj 3maj;
 text-align: right;
 width: 100%;
 border-top: 1px solid var(--gray5);
 font-size: 1.8maj;
 display: flex;
 justify-content: space-between;
 background: var(--background);
 padding-bottom: env(safe-area-inset-bottom);

 @media (--tablet) {
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  & p {
   margin: 2maj 0;

   &.site-footer__copyright {
    margin-bottom: 0;
   }
  }
 }

 & .footer-flag {
  height: 1.5maj;
  color: white;
 }

 & a {
  color: var(--white);
  font-weight: 600;
 }

 & .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1maj;

  @media (--tablet) {
   margin-top: 2maj;
  }

  & .icon {
   margin: 0 1maj;

   & img {
    height: 2maj;

    @media (--tablet) {
     height: 3maj;
    }
   }
  }
 }
}
