@import-normalize;

@import "./variables.css";
@import "./header.css";
@import "./footer.css";

* {
 box-sizing: border-box;
}

body {
 font-family: var(--body-font);
 background-color: var(--gray6);
 color: var(--white);
 margin: 0;
}

a {
 color: var(--accentColor);
 text-decoration: none;
}

h1,
.h1 {
 margin: 0;
 font-size: 3rem;
 font-weight: 600;
}

.accent-color {
 color: var(--accentColor);
}

.site-main {
 margin-top: 10maj;
}

.padding {
 margin: var(--padding);
}

#overlay {
 display: none;
 align-items: center;
 justify-content: center;
 opacity: 0;
 position: fixed;
 z-index: 100;
 user-select: none;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
 background: var(--gray-overlay);
 outline: none;

 & .video-wrapper {
  padding: 3maj 0;
  outline: none;
 }

 & #player {
  outline: none;
  z-index: 80;
  width: 100%;
  max-width: 1600px;
  max-height: 95vh;
  border-radius: 1maj;
  box-shadow: var(--big-shadow);
  overflow: hidden;
 }

 & .close {
  position: absolute;
  top: 3maj;
  right: 3maj;
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  z-index: 81;

  & svg {
   margin-left: 2maj;
   width: 3maj;
  }
 }
}

#testimonials {
 & .container {
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
 }

 & .title {
  padding: 6maj 5maj;
 }
}

.member-info {
 padding: 5maj;
 display: block;
 border-radius: 2maj;
 backdrop-filter: var(--blur-filter);
 background-color: var(--gray-overlay);
 font-weight: 500;
 font-size: 2.25maj;
 max-width: 120maj;
 line-height: 1.5;

 & p {
  font-size: 1.75maj;
 }

 & .header {
  display: flex;
  height: auto;
  align-items: center;

  @media (max-width: 600px) {
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
  }

  & .h1 {
   margin: 0;
   font-size: 3rem;
   font-weight: 600;
   color: var(--text);
  }

  & h4 {
   margin: 0;
   font-weight: 500;
   margin-bottom: 1maj;
   color: var(--accentColor);
  }

  & .competencies {
   color: var(--gray1);
  }

  & img.team {
   border-radius: 50%;
   width: 100%;
   max-width: 20maj;
   object-fit: cover;
   box-shadow: var(--med-shadow);

   @media (max-width: 600px) {
    flex-basis: 100%;
   }
  }

  & .name {
   margin-left: 5maj;

   @media (max-width: 600px) {
    margin-left: 0;
    margin-bottom: 3maj;
    font-size: 80%;
   }
  }
 }

 & .social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1maj;
  padding-block-start: 2maj;

  @media (max-width: 600px) {
   margin-top: 2maj;
  }

  & .icon {
   margin: 0 1maj;

   & img {
    height: 2maj;

    @media (max-width: 600px) {
     height: 3maj;
    }
   }
  }
 }
}

.img {
 transition: opacity 300ms;
}

/* TABLES */
table {
 border-collapse: collapse;
 width: 100%;

 & th {
  border-bottom: 1px solid var(--text);
  padding: 1.5maj 1maj;
 }

 & tr:nth-child(even) {
  background: #00000050;
 }

 & td {
  padding: 1.5maj;
  border: 1px solid var(--text);
  border-width: 0 1px;

  &:first-child {
   border-left: none;
  }

  &:last-child {
   border-right: none;
  }
 }
}
