#guarantee {
 padding: 8maj 3maj;
 margin: 15maj auto 6maj;

 @media (max-width: 1000px) {
  margin: 0 auto;
 }

 .container {
  max-width: 150maj;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1000px) {
   flex-wrap: wrap;
  }
 }

 .title {
  margin-bottom: 6maj;
  max-width: 75maj;

  @media (max-width: 600px) {
   font-size: 1.75rem;
   margin-bottom: 3maj;
  }
 }

 .premium-text {
  max-width: 75maj;
  color: var(--gray1);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.25;

  @media (max-width: 600px) {
   font-size: 1rem;
  }
 }

 .guarantee-title {
  margin: 0;
 }

 .guarantee-container {
  width: 100%;
  max-width: 50maj;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.24);
  border: 1px solid var(--gray5);
  padding: 4maj 5maj;
  border-radius: 2maj;

  @media (max-width: 1000px) {
   margin-top: 5maj;
   max-width: 100%;
   padding: 3maj 3maj;
  }
 }

 .guarantee-text {
  margin: 0;
  margin-top: 2maj;
 }

 .logos {
  display: flex;
  padding-top: 4maj;

  .credibility-logo {
   &:not(:first-child) {
    margin-left: 4maj;
   }
   img {
    width: 17maj;
    height: 17maj;
   }
  }
 }
}
