.site-header {
 padding: 2maj 3maj;
 border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
 position: fixed;
 z-index: 49;
 background: var(--gray-overlay);
 backdrop-filter: var(--blur-filter);
 top: 0;
 width: 100%;

 @media (max-width: 600px) {
  padding: 2.5maj 2maj;
 }

 .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .header-logo {
  max-width: 14maj;
  width: 100%;
  justify-self: flex-start;

  @media (max-width: 600px) {
   max-width: 12maj;
  }
 }

 a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1maj 2maj;
  border-radius: 2maj;
  transition: 225ms;
  color: var(--text);

  &:hover {
   text-decoration: none;
  }

  span {
   font-weight: 500;
   font-size: 2maj;
   white-space: nowrap;

   @media (max-width: 600px) {
    font-size: 1.7maj;
   }
  }

  .icon {
   height: 2maj;
   width: 2maj;
   margin-right: 1maj;
  }
 }

 .email {
  background: var(--blue);

  &:hover {
   background: var(--solid-blue);
  }
 }

 .phone {
  background: var(--green);

  &:hover {
   background: var(--solid-green);
  }
 }

 a.active {
  font-weight: bold;
 }

 a.top {
  color: var(--white);
  font-weight: 600;
  transition: var(--slow);
  padding: 1maj 2maj;
  border-radius: 1maj;

  &.active {
   color: var(--background);
   background: var(--text);
  }

  @media (max-width: 600px) {
   font-weight: 500;
  }

  &:hover:not(.active) {
   background: var(--gray5);
  }

  &:not(:last-child) {
   margin-right: 2maj;
  }
 }

 #contact-drawer {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  #inner-drawer {
   display: grid;
   grid-auto-flow: column;
   grid-gap: 2maj;
   grid-template-columns: repeat(auto-fill, 1fr);
   align-items: center;
   justify-content: flex-end;
  }
 }
}
