.site-header {
 padding: 2maj 3maj;
 border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
 position: fixed;
 z-index: 49;
 background: var(--gray-overlay);
 backdrop-filter: var(--blur-filter);
 top: 0;
 width: 100%;

 @supports (padding: minmax(0px)) {
  padding-left: minmax(env(safe-area-inset-left), 3maj);
  padding-right: minmax(env(safe-area-inset-right), 3maj);
 }

 @media (max-width: 600px) {
  padding: 2.5maj 2maj;
 }

 & .wrapper {
  & > div {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

   & .center {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
   }

   // Small screen
   @media (max-width: 780px) {
    &.large {
     display: none;
    }

    &.small {
     justify-content: flex-start;

     & .center {
      padding-left: 1maj;
     }

     & .right {
      margin-left: auto;
     }
    }
   }

   // Large screen
   @media (min-width: 781px) {
    &.small {
     display: none;
    }
   }
  }
 }

 & .menu {
  & .hamburger {
   fill: var(--text);

   & svg {
    width: 1.5rem;
   }
  }
 }

 & .header-logo {
  max-width: 14maj;
  width: 100%;
  justify-self: flex-start;

  @media (max-width: 600px) {
   max-width: 12maj;
  }
 }

 a.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1maj 2maj;
  border-radius: 2maj;
  transition: 225ms;
  color: var(--text);

  &:hover {
   text-decoration: none;
  }

  & span {
   font-weight: 500;
   font-size: 2maj;
   white-space: nowrap;

   @media (max-width: 600px) {
    font-size: 1.7maj;
   }
  }

  & .icon {
   height: 2maj;
   width: 2maj;
   margin-right: 1maj;
  }
 }

 & .email {
  background: var(--blue);

  &:hover {
   background: var(--solid-blue);
  }
 }

 & .phone {
  background: var(--green);

  &:hover {
   background: var(--solid-green);
  }
 }

 & a.active {
  font-weight: bold;
 }

 & a.top {
  color: var(--white);
  font-weight: 600;
  transition: var(--slow);
  padding: 1maj 2maj;
  border-radius: 1maj;

  &.active {
   color: var(--background);
   background: var(--text);
  }

  @media (max-width: 600px) {
   font-weight: 500;
  }

  &:hover:not(.active) {
   background: #ffffff15;
  }

  &:not(:last-child) {
   margin-right: 2maj;
  }
 }

 & .drawer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  height: 0;

  @media (max-width: 768px) {
   justify-content: flex-start;
   align-items: flex-start;
  }

  & #inner-drawer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 3maj 0 1maj;
  }

  & .submenu {
   display: flex;
   flex-direction: column;
   padding: 6maj 0;

   & .top {
    font-size: 1.5rem;
    padding: 2maj;
    border-radius: 1.5maj;
    width: 100%;
   }

   @media (min-width: 781px) {
    display: none;
   }
  }

  & .contact {
   display: grid;
   grid-auto-flow: column;
   grid-gap: 2maj;
   grid-template-columns: repeat(auto-fill, 1fr);
   align-items: center;
   justify-content: flex-end;
  }
 }
}
