/* MARK: Featured */
#featured-logos {
 padding: 6maj 0 0;

 @media (--tablet) {
  padding-top: 3maj;
 }

 & .container {
  max-width: 150maj;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 10maj;
  width: 100%;
  margin: 0 auto;

  @media (--tablet) {
   grid-gap: 4maj;
   grid-template-columns: 1fr;
  }

  @media (max-width: 150maj) {
   max-width: 100%;
   padding: 3maj 3maj;
  }
 }

 & .seen-on-tv {
  margin-top: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.24);
  border: 1px solid var(--gray5);
  padding: 4maj 5maj;
  border-radius: 2maj;
  width: 100%;
  max-width: 50maj;

  @media (--tablet) {
   margin-left: unset;
   margin-top: unset;
   max-width: 100%;
  }

  & svg {
   line-height: 0;
   color: var(--text);
   max-width: 30maj;
  }
 }

 & .work-featured-on {
  & .logos {
   --size: 8maj;
   flex-basis: 50%;
   display: grid;
   grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--size) * 2.5), 1fr)
   );
   grid-gap: 3maj;

   @media (max-width: 480px) {
    --size: 4maj;
    grid-gap: 1maj;
   }

   & .logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(0, 0, 0, 0.24);
    border: 1px solid var(--gray5);
    padding: 4maj 2maj;
    border-radius: 2maj;

    & svg {
     width: var(--size);
     height: var(--size);
     color: var(--gray4);
     fill: currentColor;
    }

    & .brand {
     white-space: nowrap;
     text-align: center;
     padding-top: 2maj;
     color: var(--gray1);
     text-transform: capitalize;

     @media (max-width: 480px) {
      font-size: 0.75rem;
     }
    }
   }
  }
 }
}

/* MARK: Guarantee */
#guarantee {
 padding: 6maj 3maj;
 margin: 15maj auto 6maj;

 @media (max-width: 1000px) {
  margin-top: 0;
  margin-bottom: 0;
 }

 & .container {
  max-width: 150maj;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1000px) {
   flex-wrap: wrap;
  }
 }

 & .title {
  margin-bottom: 6maj;
  max-width: 75maj;

  @media (max-width: 600px) {
   font-size: 1.75rem;
   margin-bottom: 3maj;
  }
 }

 & .premium-text {
  max-width: 75maj;
  color: var(--gray1);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.25;

  @media (max-width: 600px) {
   font-size: 1rem;
  }
 }

 & .guarantee-title {
  margin: 0;
 }

 & .guarantee-container {
  width: 100%;
  max-width: 50maj;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.24);
  border: 1px solid var(--gray5);
  padding: 4maj 5maj;
  border-radius: 2maj;

  @media (max-width: 1000px) {
   margin-top: 5maj;
   max-width: 100%;
   padding: 3maj 3maj;
  }
 }

 & .guarantee-text {
  margin: 0;
  margin-top: 2maj;
 }

 & .logos {
  display: flex;
  padding-top: 4maj;

  & .credibility-logo {
   flex-basis: 50%;
   max-width: 17maj;
   &:not(:first-child) {
    margin-left: 4maj;
   }

   & img {
    width: 100%;
   }
  }
 }
}

/* MARK: Stats */
#stats {
 padding: 20maj 3maj;
 margin: 15maj auto 6maj;
 z-index: -2;
 background: black;
 position: relative;

 @media (max-width: 1000px) {
  margin: 8maj auto;
  padding: 12maj 3maj;
 }

 & .container {
  max-width: 150maj;
  margin: 0 auto;
 }

 & .disclaimer {
  position: absolute;
  bottom: 3maj;
  right: 3maj;
  margin-left: 3maj;
  font-size: 0.75rem;
  color: var(--gray1);

  @media (max-width: 600px) {
   font-size: 0.6rem;
  }
 }

 & .title {
  margin-bottom: 6maj;

  @media (max-width: 600px) {
   font-size: 2rem;
   margin-bottom: 3maj;
  }
 }

 & .grid {
  list-style-type: none;
  align-items: start;
  justify-content: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20maj, 1fr));
  grid-gap: 5maj;
  max-width: 125maj;

  & .item {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: column;

   & .number,
   & .number-support {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: monospace;

    @media (max-width: 600px) {
     font-size: 2.5rem;
    }
   }

   & .description {
    margin-top: 2maj;
    font-size: 1.25rem;
    color: var(--accentColor);
    white-space: nowrap;

    @media (max-width: 600px) {
     font-size: 1rem;
     margin-top: 1maj;
    }
   }
  }
 }
}

/* MARK: Video */
.video {
 border: 0.5px solid rgba(255, 255, 255, 0.1);
 transition: 300ms;
 cursor: pointer;
 user-select: none;
 position: relative;
 overflow: hidden;
 border-radius: 1.5maj;
 box-shadow: var(--med-shadow);
 height: 100%;
 scroll-snap-align: start;

 @media (max-width: 768px) {
  scroll-snap-align: center;
 }

 &::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: 225ms;
 }

 @media (pointer: "fine") {
  &:hover:not(.hero-video) {
   & .preview {
    opacity: 1;
   }
   &::before {
    opacity: 1;
   }
  }
 }

 & .preview {
  opacity: 0;
  height: 100%;
  position: absolute;
  z-index: 2;
  transition: 225ms;
  object-fit: cover;
  border-radius: 1.5maj;
  object-position: center;
 }

 @media (pointer: "fine") {
  &:hover {
   transform: translateY(-1maj);
   box-shadow: var(--big-shadow);
  }
 }

 & img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 &:hover .title {
  transform: translateX(0);
  &::before {
   opacity: 1;
   transform: translateX(0);
  }
 }

 & .title {
  position: absolute;
  bottom: 4maj;
  left: 4maj;
  font-weight: 600;
  font-size: 3maj;
  text-shadow: 0 0 2.5maj var(--gray6);
  display: flex;
  align-items: center;
  transform: translateX(-2maj);
  transition: 225ms;
  z-index: 3;

  @media (max-width: 768px) {
   bottom: 3maj;
   left: 2.5maj;
  }

  &::before {
   content: "";
   transition: 225ms;
   opacity: 0;
   transform: translateX(-1maj);
   fill: white;
   display: inline-block;
   background: url("/assets/controls-play.svg");
   width: 2maj;
   height: 2maj;
   margin-right: 1.5maj;
  }
 }

 & .type {
  position: absolute;
  top: 2maj;
  right: 2maj;
  text-transform: uppercase;
  font-size: 1.5maj;
  font-weight: 500;
  background: var(--teal);
  backdrop-filter: var(--blur-filter);
  padding: 0.5maj 0.75maj;
  border-radius: 0.5maj;
  z-index: 3;

  &.entertainment {
   background: var(--green);
  }

  &.promotional {
   background: var(--red);
  }

  &.social-media {
   background: var(--indigo);
  }

  &.corporate {
   background: var(--yellow);
  }

  &.short-documentary {
   background: var(--blue);
  }
 }
}

.scroll-arrows {
 padding-top: var(--padding);
 display: grid;
 grid-auto-flow: column;
 grid-gap: 1maj;
 width: 100%;
 align-items: center;
 justify-content: center;
 list-style: none;
 z-index: 9;
 position: relative;

 @media (pointer: "coarse") {
  display: none;
 }

 & .page-number {
  padding: 1maj 1.5maj;
  background: #00000050;
  border-radius: 0.75maj;
  cursor: pointer;
  transition: var(--fast);
  color: var(--text);

  & svg {
   width: 1.5maj;
   height: 1.5maj;
   margin: 0;
   fill: #ffffff;
   pointer-events: none;
  }

  &:hover {
   background: var(--gray5);
  }

  &.active {
   font-weight: bold;
   box-shadow: 0 0 0 1px #ffffff40;
  }
 }
}

.video-grid-wrapper {
 overflow-x: scroll;
 overscroll-behavior-x: none;
 padding: calc(var(--padding) * 2) 0;
 margin: calc(var(--padding) * -3) 0 calc(var(--padding) * -2);
 display: grid;
 grid-template-columns: 3maj 1fr 3maj;
 scroll-snap-type: x mandatory;
 scroll-padding-left: calc(var(--padding) * 1.5);

 @media (max-width: 768px) {
  scroll-padding-left: 0;
 }

 &::before,
 &::after {
  content: "";
 }

 -ms-overflow-style: none;
 scrollbar-width: none;
 &::-webkit-scrollbar {
  display: none;
 }
}

.video-grid {
 --col-size: 60maj;
 --aspect-ratio: calc(1920 / 1080);
 --row-size: calc(var(--col-size) / var(--aspect-ratio));

 display: grid;
 align-content: start;
 grid-auto-flow: column;
 grid-template-columns: repeat(var(--cols), var(--col-size));
 grid-template-rows: repeat(2, var(--row-size));
 grid-gap: var(--padding);

 @media (max-width: 600px) {
  --col-size: calc(100vw - (var(--padding) * 2));
  grid-gap: calc(var(--padding) / 2);
 }
}

.hero-video {
 max-height: 80vh;
 overflow: hidden;
 margin-bottom: 7maj;
 border-radius: 1.5maj;
 box-shadow: var(--big-shadow);
 transition: 225ms;
 position: relative;

 @media (max-width: 1000px) {
  box-shadow: var(--med-shadow);
 }

 @media (max-width: 600px) {
  margin-bottom: 4maj;
 }

 & .preview-container {
  height: 0;
  padding-bottom: calc(700 / 1920 * 100%);
 }

 & .preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  border-radius: 1.5maj;
  border: 0.5px solid rgba(255, 255, 255, 0.1);
 }

 & .excerpt {
  position: absolute;
  bottom: 4maj;
  right: 4maj;
  padding: 3maj 4maj;
  border-radius: 2maj;
  backdrop-filter: var(--blur-filter);
  background-color: var(--gray-overlay);
  font-weight: 500;
  font-size: 2.25maj;
  max-width: 90maj;
  line-height: 1.5;

  @media (max-width: 1000px) {
   border: 0.5px solid rgba(255, 255, 255, 0.1);
   box-shadow: var(--med-shadow);
   backdrop-filter: none;
   background-color: var(--gray6);
   position: static;
   font-size: 1.65maj;
   padding: 2maj 3maj;
   border-radius: 1maj;
   max-width: none;
   width: 100%;
   margin: 0;
   margin-top: 1maj;
  }
 }

 & img.volume-icon {
  position: absolute;
  top: 3maj;
  right: 4maj;
  box-sizing: content-box;
  width: 2maj;
  height: 2maj;
  transition: 225ms;
  padding: 1.5maj 2maj;
  fill: white;
  border-radius: 1.5maj;
  backdrop-filter: var(--blur-filter);
  background-color: var(--gray-overlay);
  cursor: pointer;

  &:hover {
   background-color: var(--black-overlay);
  }

  @media (max-width: 1000px) {
   width: 1.5maj;
   height: 1.5maj;
   border-radius: 1maj;
   top: 1maj;
   right: 1maj;
  }
 }

 & img.play-icon {
  position: absolute;
  top: 3maj;
  right: 12maj;
  box-sizing: content-box;
  width: 2maj;
  height: 2maj;
  transition: 225ms;
  padding: 1.5maj 2maj;
  fill: white;
  border-radius: 1.5maj;
  backdrop-filter: var(--blur-filter);
  background-color: var(--gray-overlay);
  cursor: pointer;

  &:hover {
   background-color: var(--black-overlay);
  }

  @media (max-width: 1000px) {
   width: 1.5maj;
   height: 1.5maj;
   border-radius: 1maj;
   top: 1maj;
   right: 8maj;
  }
 }
}

/* MARK: Team */
#team {
 margin: 14maj 0 6maj;

 @media (max-width: 600px) {
  margin: 8maj 0 0;
 }

 & .title {
  margin-top: 5maj;
  text-align: center;
 }

 & .team-grid {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3maj;
  overflow-y: visible;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-padding-left: calc(var(--padding) * 1.5);

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
   display: none;
  }

  @media (max-width: 768px) {
   justify-content: flex-start;
  }

  & .team-member {
   position: relative;
   scroll-snap-align: start;

   @media (max-width: 768px) {
    scroll-snap-align: center;
   }

   padding: 0 5maj;

   /* &:not(:first-child) {
    margin-left: 5maj; */

   @media (max-width: 600px) {
    padding: 0 2.5maj;
   }
   /* } */

   & .cta {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    z-index: 9;
    transition: 300ms;
    width: 5maj;
    pointer-events: none;
   }

   @media (pointer: "fine") {
    &:hover {
     & img.team {
      transform: translateY(-1maj);
      box-shadow: var(--hover-shadow);
     }

     & .cta {
      opacity: 1;
     }
    }
   }

   & .name {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h4 {
     margin: 0;
     margin-top: 2maj;
    }

    & h6 {
     margin: 1maj 0;
    }
   }

   & .competencies {
    font-size: 1.5maj;
    max-width: 25maj;
    word-wrap: break-word;
    margin: 1maj auto;
    color: var(--accentColor);
   }

   & img.team {
    min-width: 20maj;
    transition: 225ms;
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
    max-width: 30maj;
    object-fit: cover;
    box-shadow: var(--med-shadow);
   }
  }
 }
}

.team-overlay {
 display: none;
 padding: 5maj 1maj 20maj;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 position: fixed;
 z-index: 90;
 opacity: 0;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 overflow-y: auto;
 background: var(--black-overlay);

 @media (max-width: 768px) {
  justify-content: start;
 }
}

.dismiss-message {
 font-weight: 500;
 pointer-events: none;
 cursor: pointer;
 padding: 2maj 0;

 &::before {
  content: "Click";

  @media (pointer: "coarse") {
   content: "Swipe down";
  }
 }
}

/* MARK: Clients */
#clients {
 padding: 6maj 0 10maj;
 text-align: center;

 @media (max-width: 600px) {
  padding: 4maj 0;
 }

 & .title {
  margin-bottom: 0;
 }

 & .sub-title {
  margin: 1maj 0 2maj;
  font-weight: 400;
  color: var(--accentColor);
 }

 & .logos {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 120maj;
  flex-wrap: wrap;

  & .logo,
  & .logo img {
   width: 12maj;

   @media (max-width: 768px) {
    width: 7maj;
    &.extra {
     display: none;
    }
   }
  }
 }
}
