@import "normalize.css";
@import "videos.css";

:root {
	--body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--white: #ffffff;
	--gray1: #8e8e93;
	--gray2: #636366;
	--gray3: #48484a;
	--gray4: #3a3a3c;
	--gray5: #2c2c2e;
	--gray6: #1c1c1e;

	--blue: #0a84ff;
	--green: #30d158;
	--indigo: #5e5ce6;
	--orange: #ff9f0a;
	--pink: #ff375f;
	--purple: #bf5af2;
	--red: #ff453a;
	--teal: #64d2ff;
	--yellow: #ffd60a;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	background-color: var(--gray6);
	color: var(--white);
}

a {
	color: var(--blue);
	text-decoration: none;
}

.site-header {
	padding: 2m 3m;
	border-bottom: 1px solid var(--gray5);
	display: flex;
	justify-content: space-between;
	align-items: center;

	.header-logo {
		max-width: 14m;
		width: 100%;
		justify-self: flex-start;
	}

	a {
		color: var(--white);
		font-weight: bold;

		&:hover {
			text-decoration: underline;
		}

		&:not(:last-child) {
			margin-right: 2m;
		}
	}
}

footer {
	padding: 0.5m 3m;
	text-align: right;
	width: 100%;
	border-top: 1px solid var(--gray5);

	a {
		color: var(--white);
		font-weight: bold;
	}
}
