#products,
#services {
 overflow-y: hidden;
 .container {
  max-width: 980px;
  padding: 0 6maj;
  margin: 0 auto;

  @media (max-width: 932px) {
   overflow: hidden;
   padding: 0 3maj;
  }
 }

 .main.title {
  padding: 6maj 0;
 }

 .summary {
  padding-bottom: 15maj;
  max-width: 980px;
  display: flex;
  position: relative;

  .image {
   max-width: 35maj;
   position: absolute;
   z-index: -1;
   border-radius: 1.5maj;
   backdrop-filter: blur(20px);
   box-shadow: var(--med-shadow);

   @media (max-width: 600px) {
    max-width: 20maj;
   }

   img {
    opacity: 0.75;
    object-fit: cover;
    width: 100%;
    border-radius: 1.5maj;
    height: 100%;
   }
  }

  &:nth-of-type(1),
  &:nth-of-type(4),
  &:nth-of-type(7) {
   justify-content: flex-start;

   .image {
    left: -20maj;

    @media (max-width: 600px) {
     left: -15maj;
    }
   }
  }

  &:nth-of-type(2),
  &:nth-of-type(5),
  &:nth-of-type(9) {
   justify-content: flex-end;

   .image {
    right: -10maj;
   }
  }

  &:nth-of-type(3),
  &:nth-of-type(6),
  &:nth-of-type(8),
  &:nth-of-type(10) {
   justify-content: center;
  }

  &:nth-of-type(7),
  &:nth-of-type(1) {
   .image {
    left: 60%;
   }
  }

  &:nth-of-type(4),
  &:nth-of-type(8) {
   .image {
    left: 20%;
   }
  }

  .text {
   text-shadow: 0 0 3maj #00000065, 0 0 10maj #000000, 0 0 5maj #00000075;
   z-index: 1;
   position: relative;

   .title {
    font-size: 2rem;
   }

   .excerpt {
    line-height: 1.35;
    font-weight: 500;
   }
  }

  .inner {
   width: 100%;
   max-width: 50maj;
  }
 }
}

#services {
 .summary {
  &:nth-of-type(2),
  &:nth-of-type(5),
  &:nth-of-type(8) {
   justify-content: flex-start;

   .image {
    left: -20maj;

    @media (max-width: 600px) {
     left: -15maj;
    }
   }
  }

  &:nth-of-type(3),
  &:nth-of-type(6),
  &:nth-of-type(10) {
   justify-content: flex-end;

   .image {
    right: -10maj;
   }
  }

  &:nth-of-type(4),
  &:nth-of-type(7),
  &:nth-of-type(9),
  &:nth-of-type(1) {
   justify-content: center;
  }

  &:nth-of-type(7),
  &:nth-of-type(12) {
   .image {
    left: 60%;
   }
  }

  &:nth-of-type(4),
  &:nth-of-type(9) {
   .image {
    left: 20%;
   }
  }
 }
 .inventory {
  padding: 10maj 0;

  .title {
   padding: 6maj 0;
  }

  table {
   border-collapse: collapse;
   width: 100%;

   th {
    border-bottom: 1px solid var(--text);
    padding: 1.5maj 1maj;
   }

   tr:nth-child(even) {
    background: #00000050;
   }

   td {
    padding: 1.5maj;
    border: 1px solid var(--text);
    border-width: 0 1px;

    &:first-child {
     border-left: none;
    }

    &:last-child {
     border-right: none;
    }
   }
  }
 }
}
