{{$video :=  .Params.videoURL}}
{{$preview :=  .Params.previewURL}}
{{$image := (resources.Get .Params.image).RelPermalink}}

<div class="hero-video" data-poster="{{ $image }}" data-url="{{ $video }}">
 <video class="preview" id="hero-video-element" src="{{ $preview }}" autoplay="true" preload muted="true" loop="true"
  playsinline="true" poster="{{ $image }}"></video>

 <img class="volume-icon" src="/assets/volume-control-off.svg" alt="Turn volume on" data-state="off">
 <img class="play-icon" src="/assets/controls-play.svg" alt="Play" hidden>

 <div class="excerpt">
  {{.Site.Data.en.HERO_EXCERPT}}
 </div>
</div>