{{$video :=  .Params.videoURL}}
{{$preview :=  .Params.previewURL}}
{{$image := (resources.Get .Params.image).RelPermalink}}
<div class="video" data-poster="{{ $image }}" data-url="{{ $video }}">
 <span class="title">
  {{.Title}}
 </span>

 {{ with.Params.type }}
 <span class="type {{ anchorize . }}">{{.}}</span>
 <video class="preview" src="{{ $preview }}" preload="none" muted="true" loop="true" playsinline="true"></video>
 {{ end }} {{block "site/img" . }} {{ partial "site/img" . }}{{ end }}
</div>