{{$video := .Params.videoURL}}
{{$preview := .Params.previewURL}}
{{$image := (resources.Get .Params.image).RelPermalink}}

<div class="video" data-poster="{{ $image }}" id="{{ .Params.videoID }}" data-url="{{ $video }}">
  <span class="title">
    {{.Title}}
  </span>

  {{ with.Params.type }}
    <span class="type {{ anchorize . }}">{{.}}</span>
    <video loading="lazy" class="preview" src="{{ $preview }}" preload="none" muted="true" loop="true"
      playsinline="true"></video>
  {{ end }}

  {{ partial "site/img" (dict "image" .Params.image "width" 478 "height" 269) }}
</div>