---
import { getCollection, render } from "astro:content"
import FeatureCard from "../components/FeatureCard.astro"
import DefaultLayout from "../layouts/DefaultLayout.astro"

const features = (await getCollection("features")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
)
---

<DefaultLayout>
  <section class="mx-auto w-container py-14">
    <h1 class="mx-auto max-w-7xl py-16">Features</h1>
    <div
      class="mx-auto grid max-w-7xl snap-y snap-mandatory grid-flow-row grid-cols-1 gap-14 overflow-y-auto py-10"
    >
      {features.map(async (feature) => <FeatureCard {...feature} />)}
    </div>
  </section>
</DefaultLayout>
