---
import ClientsSection from "../components/ClientsSection.astro"
import CrewSection from "../components/CrewSection.astro"
import FeaturedServices from "../components/FeaturedServices.astro"
import GuaranteeSection from "../components/GuaranteeSection.astro"
import HeroVideo from "../components/HeroVideo.tsx"
import Metrics from "../components/Metrics.tsx"
import VideoGrid from "../components/VideoGrid.astro"
import DefaultLayout from "../layouts/DefaultLayout.astro"
---

<DefaultLayout>
  <div class="my-6 flex flex-col gap-6">
    <HeroVideo client:idle />
    <VideoGrid />
    <GuaranteeSection />
    <Metrics client:idle />
    <FeaturedServices />
    <CrewSection />
    <ClientsSection />
  </div>
</DefaultLayout>
