---
import { Image } from "astro:assets"
import config from "../config.json"

const logos = Object.values(
  import.meta.glob("/src/images/logos/*", { eager: true }),
).map((file) => file.default)
---

<section class="py-8 text-center md:pb-20 md:pt-12">
  <div class="flex flex-col gap-2">
    <h2 class="m-0">{config.CLIENT_TITLE}</h2>
    <h4 class="m-0 font-normal text-accent-500">{config.CLIENT_SUB_TITLE}</h4>
  </div>

  <div class="container mx-auto flex flex-wrap justify-center">
    {
      logos.map((logo, i) => (
        <Image
          class:list={["w-14 md:block md:w-24", { hidden: i > 15 }]}
          loading="lazy"
          src={logo}
          alt=""
        />
      ))
    }
  </div>
</section>
