---
import type { CollectionEntry } from "astro:content"
import VideoCard from "./VideoCard.tsx"
import { render } from "astro:content"
import { Image } from "astro:assets"

type Props = CollectionEntry<"features">
const feature = Astro.props
const { Content } = await render(feature)
---

<div class="snap-center">
  <VideoCard {...feature.data} className="max-h-[80svh] w-full" client:load>
    <Content slot="body" />
    <Image src={feature.data.image} alt="" class="size-full object-cover" />
  </VideoCard>
</div>
