---
import type { HTMLAttributes } from "astro/types"

type Props = HTMLAttributes<"a">

const { href, class: className, ...props } = Astro.props

const removeTrailingSlash = (str: string) =>
  str.endsWith("/") ? str.slice(0, -1) : str

const currentUrl = new URL(Astro.url.pathname, Astro.site)
const headerUrl = new URL(href, Astro.site)

const isActive =
  removeTrailingSlash(headerUrl.pathname) &&
  removeTrailingSlash(currentUrl.pathname).includes(
    removeTrailingSlash(headerUrl.pathname),
  )
---

<!-- transition:name={isActive && Astro.url.pathname !== "/" ? "menu-active" : ""} -->
<a
  href={href}
  class="rounded-lg px-3 py-2 text-sm font-medium uppercase duration-300"
  class:list={[
    className,
    {
      "bg-white text-black hover:text-black": isActive,
      "text-white hover:bg-white/15 hover:text-white": !isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
