---
import { getCollection } from "astro:content"
import { take } from "lodash-es"
import VideoCard from "./VideoCard.tsx"
import { Image } from "astro:assets"
import { ChevronRight } from "lucide-astro"

const videos = await getCollection("videos")
---

<section class="mx-auto w-container">
  <div class="flex items-center gap-6 px-4 py-4">
    <h2 class="text-3xl">Portfolio</h2>
    <a class="mt-1 flex items-center gap-1.5 text-lg" href="/portfolio">
      See All
      <ChevronRight class="size-5" />
    </a>
  </div>
  <div
    class="xs:grid-cols-[repeat(auto-fit,_minmax(400px,1fr))] grid grid-cols-2 gap-2 sm:gap-5 lg:grid-cols-3"
  >
    {
      take(videos, 6).map((video, i, videos) => (
        <VideoCard
          {...video.data}
          nextVideo={
            i + 1 === videos.length
              ? videos.at(0)?.data
              : videos.at(i + 1)?.data
          }
          prevVideo={
            i === 0
              ? videos.at(videos.length - 1)?.data
              : videos.at(i - 1)?.data
          }
          client:idle
        >
          <Image src={video.data.image} alt="" />
        </VideoCard>
      ))
    }
  </div>
</section>
