---
import VideoCard from "./VideoCard.tsx"
import { getCollection } from "astro:content"
import getImageUrl from "../utils/getImageUrl"
import { take } from "lodash-es"

const videos = await getCollection("videos")
---

<section
  class="xs:grid-cols-[repeat(auto-fit,_minmax(400px,1fr))] mx-auto grid w-container grid-cols-2 gap-2 sm:gap-5 lg:grid-cols-3"
>
  {
    take(videos, 6).map((video) => (
      <VideoCard
        {...video.data}
        image={getImageUrl(video.data.image)}
        client:idle
      />
    ))
  }

  <!-- <div class="scroll-arrows">
      <span class="arrow-left page-number">
        <svg viewBox="0 0 24 24">
          <use href="/assets/arrow-left.svg#icon"></use>
        </svg>
      </span>
      <span class="arrow-right page-number">
        <svg viewBox="0 0 24 24">
          <use href="/assets/arrow-right.svg#icon"></use>
        </svg>
      </span>
    </div> -->
</section>
