---
import type { ImageMetadata } from "astro"
import VideoCard from "./VideoCard.tsx"
import { getCollection } from "astro:content"
import getImageUrl from "../utils/getImageUrl"

const videos = await getCollection("videos")
---

<section
  class="grid w-full snap-x snap-proximity grid-cols-[24px_1fr_24px] overflow-x-auto"
>
  <div
    style="grid-column: 2;"
    class="grid grid-flow-col grid-rows-2 gap-6 py-3"
  >
    {
      videos.map((video) => (
        <VideoCard
          {...video.data}
          image={getImageUrl(video.data.image)}
          client:idle
        />
      ))
    }

    <!-- <div class="scroll-arrows">
      <span class="arrow-left page-number">
        <svg viewBox="0 0 24 24">
          <use href="/assets/arrow-left.svg#icon"></use>
        </svg>
      </span>
      <span class="arrow-right page-number">
        <svg viewBox="0 0 24 24">
          <use href="/assets/arrow-right.svg#icon"></use>
        </svg>
      </span>
    </div> -->
  </div>
</section>
