{{ $related := .Site.RegularPages.Related . }}

{{ with $related | first 3 }}
<aside id="more-articles" class="padding">

  <h2 class="title">Related Posts</h2>

  <div class="posts-container">

    {{ range .}}
    <a class="post" href="{{ .RelPermalink }}">
      <div class="image">
        {{ with .Params.category}}
        <span class="type {{ anchorize . }}">{{.}}</span>
        {{end}}

        {{ if isset .Params "image" }}

        {{ if hasPrefix .Params.image "http" }}
        <img src="{{ .Params.image }}" alt="">
        {{ else }}
        {{ partial "site/img" . }}
        {{ end }}

        {{ end }}
      </div>

      <div class="content">
        <h5 class="title">{{ .Title }} <span class="readtime">{{ partial "blog/readtime" . }}</span></h5>
        <p class="excerpt">{{ .Summary }}</p>
      </div>
    </a>

    {{ end }}

  </div>

</aside>
{{ end }}