{{ define "main" }}

<section id="videos">
 {{ range where .Pages "Section" "videos" }}

 {{ range where .Pages "Params.featured" true }}
 {{ block "videos/hero" .}}{{ partial "videos/hero.html" . }}{{ end }}
 {{ end }}

 <div class="video-grid">
  {{ range where .Pages "Params.featured" "!=" true }}
  {{ block "videos/list" .}}{{ partial "videos/list.html" . }}{{ end }}
  {{ end }}
 </div>

 {{ end }}
</section>

<section id="team">
 <h2 class="title">Team</h2>
 {{ range where .Pages "Section" "team" }}

 <div class="team-grid">
  {{ range .Pages.ByParam "order" }}

  {{ block "team/member" . }}{{ partial "team/member.html" . }}{{ end }}

  {{ end }}
 </div>

 {{ end }}
</section>

<section id="clients">
 <h2 class="title">Clients</h2>
 <h4 class="sub-title">Some of the clients we have had the privilege of creating with.</h4>

 {{ block "clients/grid" . }}{{ partial "clients/grid.html" . }}{{ end }}

</section>

<div id="overlay">
 <div class="close">
  <span>
   Close
  </span>
  <img src="{{ .Site.BaseURL }}/assets/close.svg" alt="Close" />
 </div>
 <div id="player"></div>
</div>

{{ end }}