<section id="guarantee" class="padding">
 <div class="container">

  <div class="left">
   <h1 class="title">Premium video, Painless production.</h1>
   <p class="premium-text">At Vek Labs, we pride ourselves in offering production services to agencies, companies and
    organizations who want
    to create cinematic productions without hassle. We reverse-engineer a custom solution for your video project;
    consulting your budget, timeline and creative vision throughout the entire process.</p>
  </div>

  <div class="right">
   <div class="guarantee-container">
    <h2 class="guarantee-title">Our Guarantee</h2>
    <p class="guarantee-text">When specified, we deliver a RAW video render of all usable content to you within 24 hours
     of filming <strong>at no additional cost.</strong></p>
   </div>
  </div>

 </div>
</section>