<section id="guarantee" class="padding">
 <div class="container">

  <div class="left">
   <h1 class="title">Calgary Video Production Company</h1>
  <h2>Premium Video. Painless Production.</h2>
   <p class="premium-text">At Vek Labs, we are a Calgary video production company that prides ourselves by offering production services to agencies, companies and
    organizations who want
    to create cinematic productions without hassle. We reverse-engineer a custom solution for your video project;
    consulting your budget, timeline and creative vision throughout the entire process.</p>
  </div>

  <div class="right">
   <div class="guarantee-container">
    <h2 class="guarantee-title">Our Guarantee</h2>
    <p class="guarantee-text">When specified, we deliver a RAW video render of all usable content to you within 24 hours
     of filming <strong>at no additional cost.</strong></p>
   </div>

   <div class="logos">

    <a href="https://upcity.com/profiles/vek-labs" class="credibility-logo">
     <img src="https://upcity-marketplace.s3.amazonaws.com/badges/fb2e7d64b3c931ed6e964e74f1c3d1f8.png" loading="lazy">
    </a>
    <a href="https://communo.com" class="credibility-logo">
     <img src="/images/communo-badge.png" loading="lazy">
    </a>

   </div>

  </div>

 </div>
</section>
