<section id="stats">

 <div class="container">
  <h1 class="title">Lab Metrics</h1>

  <div class="grid">
   <li class="item">
    <span class="number">
     {{ .Site.Data.en.PROJECTS_FILMED }}
    </span>
    <span class="description">
     Projects Filmed
    </span>
   </li>
   <li class="item">
    <span class="number">
     {{ .Site.Data.en.VIDEOS_RENDERED }}
    </span>
    <span class="description">
     Videos Rendered
    </span>
   </li>
   <li class="item">
    <div>
     <span class="number">
      {{ .Site.Data.en.FOOTAGE_PROCESSED_TB }}
     </span>
     <span class="number-support">
      TB
     </span>
    </div>
    <span class="description">
     Footage Processed
    </span>
   </li>
   <li class="item">
    <div>
     <span class="number">
      {{ .Site.Data.en.TOTAL_VIEWS }}
     </span>
     <span class="number-support">
      M+
     </span>
    </div>
    <span class="description">
     Content Views
    </span>
   </li>
  </div>


  <span class="disclaimer">Statistics updated annually after review of all projects worked on at Vek Labs from December
   2017 to current year-end.</span>
 </div>

</section>