<section id="stats">

 <div class="container">
  <h1 class="title">Lab Metrics</h1>

  <div class="grid">
   <li class="item">
    <span class="number">
     {{ .Site.Data.en.PROJECTS_FILMED }}
    </span>
    <span class="description">
     Projects Filmed
    </span>
   </li>
   <li class="item">
    <span class="number">
     {{ .Site.Data.en.VIDEOS_RENDERED }}
    </span>
    <span class="description">
     Videos Rendered
    </span>
   </li>
   <li class="item">
    <div>
     <span class="number">
      {{ .Site.Data.en.FOOTAGE_PROCESSED_TB }}
     </span>
     <span class="number-support">
      TB
     </span>
    </div>
    <span class="description">
     Footage Processed
    </span>
   </li>
  </div>

 </div>

</section>