<head>
  {{ partial "site/meta.html" . }}
  {{ partial "site/styles.html" . }}

  <title>
    {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}{{ .Site.Data.en.subtitle }}
  </title>

  <style>
    :root {
      height: 100%;
    }
  </style>
</head>

<body style="height: 100%">
  {{ block "header" . }} {{ partial "site/header.html" . }} {{ end }}

  <link rel="stylesheet" href="https://form.asana.com/static/asana-form-embed-style.css" />

  <main>

    <div class="asana-embed-container">
      <iframe class="asana-embed-iframe" height="533" width="800" borderless
        src="https://form.asana.com/?k=3kpztkM1QV0obNG97Xa48w&d=520209650995482&embed=true"></iframe>
    </div>

  </main>
</body>