body {
  font-family: var(--body-font);
  background-color: var(--gray6);
  color: var(--white);
  margin: 0;
}

a {
  color: var(--accentColor);
  text-decoration: none;
}

h1,
.h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
}

h2,
.h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

h3,
.h3 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 500;
}

a {
  @apply text-accent-400 no-underline underline-offset-2 hover:underline;
}
