---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.tsx"

import "../global.css"

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<html lang="en" class="min-h-full bg-background text-foreground">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="size-full">
    <Header client:load />
    <main class="size-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
