footer {
  background: var(--background);

  & .inner {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid var(--gray5);

    @media (--tablet) {
      flex-direction: column;
      gap: 15px;
    }

    & .left,
    & .right,
    & .center {
      flex-basis: 33%;
    }
  }

  & .center {
    text-align: center;
  }

  & .right {
    text-align: right;
  }

  & .footer-flag {
    height: 7.5px;
    color: white;
  }

  & a {
    color: var(--white);
    font-weight: 600;
  }

  & .sub-footer {
    padding: 10px 15px;
    border-top: 1px solid var(--gray5);
    background: var(--black-overlay);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (--tablet) {
      flex-direction: column;
      gap: 15px;
    }

    & .divider {
      padding-inline: 10px;

      @media (--tablet) {
        display: none;
      }
    }
  }

  & .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -5px;

    & .icon {
      margin: 0 5px;

      & img {
        height: 10px;

        @media (--tablet) {
          height: 15px;
        }
      }
    }
  }
}

.banners {
  display: flex;
  position: sticky;
  flex-direction: column;
  bottom: calc(env(safe-area-inset-bottom) + clamp(10px, 5vh, 50px));
  margin-right: clamp(7.5px, 3vw, 50px);
  margin-left: clamp(7.5px, 3vw, 50px);
  z-index: 70;
  padding-bottom: 15px;

  & > * {
    margin-left: auto;
  }

  & > * + * {
    margin-top: 10px;
  }
}

.call-to-action {
  background-color: var(--gray-overlay);
  backdrop-filter: var(--blur-filter);
  filter: var(--med-filter-shadow);
  padding: 7.5px 15px;
  border-radius: 999px;
  box-shadow: 0 0 0 1px var(--gray4);
  user-select: none;
  display: flex;
  align-items: center;

  & .title {
    font-weight: 500;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .description {
    color: var(--gray1);
    padding-block-start: 1min;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .text {
    max-width: min(300px, 90vw);
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: default;
  }

  & .button {
    background-color: var(--accentColor);
    color: var(--white);
    padding: 7.5px 17.5px;
    margin-right: -7.5px;
    border-radius: 999px;
    transition: var(--default);

    &:hover {
      box-shadow: 0 13px 36px var(--blue);
      transform: translateY(-2px);
    }
  }
}

/* BANNER */
.banner {
  --banner-color: #d37829;

  border-radius: 999px;
  z-index: 70;
  box-shadow: 0 8px 15px #d3782940;
  user-select: none;
  display: flex;
  padding: 1min;
  padding-right: 10px;
  align-items: center;
  background-color: var(--banner-color); /* To match local excellence badge */
  font-size: clamp(8.75px, 2vw, 10px);

  & .image {
    width: clamp(35px, 5vw, 50px);
  }

  & .title {
    padding: 0 5px;
    max-width: 150px;
    font-weight: 500;
  }

  & .button {
    color: var(--text);
    border: 1px solid var(--text);
    padding: 5px 10px;
    margin-left: clamp(7.5px, 2vw, 10px);
    border-radius: 5px 10px 10px 5px;
    background: #ffffff30;
    transition: var(--fast);
    white-space: nowrap;

    &:hover {
      background: #ffffff45;
    }
  }
}
